# Demographic data

In [1]:
import pandas as pd
import numpy as np

demographic_data = pd.read_csv('C://Users/alber/Downloads/LMB0A_population.csv')
demographic_data

       LMB0A_IDcu  POP_2015  POP_2016  POP_2017  POP_2018  POP_2019  POP_2020
0            9920      4132      4132      4132      4132      4132      4148
1           12738      2195      2195      2195      2195      2195      2173
2            9475      2979      2979      2979      2979      2979      2972
3           15102       481       481       481       481       481       475
4           10131      1958      1958      1958      1958      1958      1956
...           ...       ...       ...       ...       ...       ...       ...
21938       10747         1         1         1         1         1         1
21939       13785         1         1         1         1         1         1
21940       14013         0         0         0         0         0         0
21941       15135         2         2         2         2         2         2
21942       11839         3         3         3         3         3         3

[21943 rows x 7 columns]

In [2]:
demographic_data[['POP_2013', 'POP_2014']] = np.nan
data_to_interpolate = demographic_data[['POP_2013', 'POP_2014', 'POP_2015', 'POP_2016', 'POP_2017', 'POP_2018',
                                    'POP_2019', 'POP_2020']]

In [3]:
for i in range(len(data_to_interpolate)):
    temp = data_to_interpolate.iloc[i,:].interpolate(method='linear', limit_direction='both')
    data_to_interpolate.iloc[i,0] = temp[0]
    data_to_interpolate.iloc[i,1] = temp[1]
    
# data_to_interpolate['POP_2013'] = data_to_interpolate['POP_2013'].astype('int64')
# data_to_interpolate['POP_2014'] = data_to_interpolate['POP_2014'].astype('int64')

In [4]:
data_to_interpolate

,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020
0,4132.0,4132.0,4132,4132,4132,4132,4132,4148
1,2195.0,2195.0,2195,2195,2195,2195,2195,2173
2,2979.0,2979.0,2979,2979,2979,2979,2979,2972
3,481.0,481.0,481,481,481,481,481,475
4,1958.0,1958.0,1958,1958,1958,1958,1958,1956
...,...,...,...,...,...,...,...,...
21938,1.0,1.0,1,1,1,1,1,1
21939,1.0,1.0,1,1,1,1,1,1
21940,0.0,0.0,0,0,0,0,0,0
21941,2.0,2.0,2,2,2,2,2,2
21942,3.0,3.0,3,3,3,3,3,3

In [5]:
demographic_data = pd.concat([demographic_data['LMB0A_IDcu'], data_to_interpolate], axis=1)
demographic_data

,LMB0A_IDcu,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020
0,9920,4132.0,4132.0,4132,4132,4132,4132,4132,4148
1,12738,2195.0,2195.0,2195,2195,2195,2195,2195,2173
2,9475,2979.0,2979.0,2979,2979,2979,2979,2979,2972
3,15102,481.0,481.0,481,481,481,481,481,475
4,10131,1958.0,1958.0,1958,1958,1958,1958,1958,1956
...,...,...,...,...,...,...,...,...,...
21938,10747,1.0,1.0,1,1,1,1,1,1
21939,13785,1.0,1.0,1,1,1,1,1,1
21940,14013,0.0,0.0,0,0,0,0,0,0
21941,15135,2.0,2.0,2,2,2,2,2,2
21942,11839,3.0,3.0,3,3,3,3,3,3

# Environmental data

In [6]:
data = pd.read_csv('C://Users/alber/Downloads/PM10.csv')
ids = pd.read_excel('C://Users/alber/Downloads/relation_exagon_area_final.xlsx')

In [7]:
ids.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
data

,LMB0A_IDcu,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,4045,61.449695,42.116469,36.836699,50.564010,36.817304,31.263254,62.999335,38.425641,47.560018,...,43.737707,29.902311,48.706994,38.501881,23.052413,57.668640,57.034373,39.908090,51.532357,62.652051
1,4046,60.456848,41.126909,36.535750,50.127955,36.347549,31.196430,61.943207,37.840153,46.339415,...,43.268822,29.601504,48.433280,38.336719,22.801086,57.585500,57.080985,39.477173,51.180103,62.063261
2,4261,63.325077,43.950902,37.425255,51.394578,37.708901,31.402358,64.944653,39.510438,49.835332,...,44.616007,30.483042,49.223353,38.823238,23.528493,57.895654,57.032969,40.734352,52.200072,63.746974
3,4262,61.852213,42.532906,36.932051,50.722178,36.998660,31.268970,63.445349,38.668897,48.066090,...,43.929371,30.020307,48.819314,38.563835,23.151076,57.640977,56.941106,40.072793,51.675591,62.913655
4,4263,60.660115,41.345731,36.572410,50.199941,36.436456,31.190660,62.177317,37.966717,46.601246,...,43.367054,29.658723,48.490788,38.365982,22.849764,57.545102,57.001906,39.556847,51.252515,62.205170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,20616,90.488290,70.071431,51.224639,61.422651,52.372118,42.940411,76.771461,53.670694,63.649769,...,47.504028,28.032932,40.931299,30.975950,27.280155,62.198221,60.262813,44.105391,52.202583,62.461878
2012,20617,90.357651,69.983469,51.143442,61.395175,52.360243,42.871885,76.745887,53.625143,63.692620,...,47.568429,28.089687,41.076527,31.116984,27.292055,62.293923,60.380566,44.195292,52.248544,62.526059
2013,20618,90.467433,69.986755,51.206167,61.474904,52.419264,42.904337,76.872966,53.660419,63.809946,...,47.634018,28.144141,41.186428,31.197554,27.331076,62.407942,60.464661,44.299290,52.389541,62.638624
2014,20619,90.442040,69.935556,51.186008,61.500269,52.443464,42.878685,76.923186,53.651453,63.897669,...,47.708749,28.205271,41.336008,31.328956,27.358643,62.526335,60.580261,44.408462,52.490266,62.734852
2015,20834,89.433650,69.576203,50.582745,61.035123,52.132842,42.463420,76.252419,53.314824,63.540138,...,47.668696,28.182053,41.416682,31.524439,27.230327,62.391254,60.665489,44.295296,52.037531,62.480479

In [9]:
ids

      LMB0A_IDcu  area_associata
0           4045          NOSATE
1           4046          NOSATE
2           4262          NOSATE
3           4263          NOSATE
4           4264          NOSATE
...          ...             ...
1828       20398  CASSANO D`ADDA
1829       20399  CASSANO D`ADDA
1830       20400  CASSANO D`ADDA
1831       20617  CASSANO D`ADDA
1832       20618  CASSANO D`ADDA

[1833 rows x 2 columns]

In [10]:
data = pd.merge(ids, data, on="LMB0A_IDcu")
data

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,4045,NOSATE,61.449695,42.116469,36.836699,50.564010,36.817304,31.263254,62.999335,38.425641,...,43.737707,29.902311,48.706994,38.501881,23.052413,57.668640,57.034373,39.908090,51.532357,62.652051
1,4046,NOSATE,60.456848,41.126909,36.535750,50.127955,36.347549,31.196430,61.943207,37.840153,...,43.268822,29.601504,48.433280,38.336719,22.801086,57.585500,57.080985,39.477173,51.180103,62.063261
2,4262,NOSATE,61.852213,42.532906,36.932051,50.722178,36.998660,31.268970,63.445349,38.668897,...,43.929371,30.020307,48.819314,38.563835,23.151076,57.640977,56.941106,40.072793,51.675591,62.913655
3,4263,NOSATE,60.660115,41.345731,36.572410,50.199941,36.436456,31.190660,62.177317,37.966717,...,43.367054,29.658723,48.490788,38.365982,22.849764,57.545102,57.001906,39.556847,51.252515,62.205170
4,4264,NOSATE,59.152403,39.804014,36.159749,49.563905,35.738166,31.123256,60.520038,37.057727,...,42.649127,29.214310,48.073430,38.127640,22.473061,57.537689,57.218075,38.923608,50.718621,61.272878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,91.561969,70.552561,51.877898,61.832811,52.629277,43.418058,77.330909,54.030928,...,47.371556,27.913695,40.504616,30.475581,27.345478,62.059866,59.908632,43.966201,52.424855,62.494309
1829,20399,CASSANO D`ADDA,91.728959,70.604102,51.977524,61.915478,52.685546,43.484012,77.452886,54.086016,...,47.390611,27.928831,40.515227,30.463822,27.371862,62.102707,59.914039,44.003906,52.518839,62.554342
1830,20400,CASSANO D`ADDA,91.247500,70.343836,51.679757,61.769641,52.603030,43.253755,77.271328,53.923470,...,47.528491,28.047164,40.859354,30.819238,27.374541,62.291359,60.191138,44.182804,52.535772,62.646935
1831,20617,CASSANO D`ADDA,90.357651,69.983469,51.143442,61.395175,52.360243,42.871885,76.745887,53.625143,...,47.568429,28.089687,41.076527,31.116984,27.292055,62.293923,60.380566,44.195292,52.248544,62.526059
1832,20618,CASSANO D`ADDA,90.467433,69.986755,51.206167,61.474904,52.419264,42.904337,76.872966,53.660419,...,47.634018,28.144141,41.186428,31.197554,27.331076,62.407942,60.464661,44.299290,52.389541,62.638624

In [11]:
new_demo = demographic_data.iloc[:, :5]
data_with_demo = pd.merge(data, new_demo, on="LMB0A_IDcu", how='left')

In [12]:
pd.set_option('display.max_rows', 20)
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,61.449695,42.116469,36.836699,50.564010,36.817304,31.263254,62.999335,38.425641,...,23.052413,57.668640,57.034373,39.908090,51.532357,62.652051,NaN,NaN,NaN,NaN
1,4046,NOSATE,60.456848,41.126909,36.535750,50.127955,36.347549,31.196430,61.943207,37.840153,...,22.801086,57.585500,57.080985,39.477173,51.180103,62.063261,NaN,NaN,NaN,NaN
2,4262,NOSATE,61.852213,42.532906,36.932051,50.722178,36.998660,31.268970,63.445349,38.668897,...,23.151076,57.640977,56.941106,40.072793,51.675591,62.913655,16.0,16.0,16.0,16.0
3,4263,NOSATE,60.660115,41.345731,36.572410,50.199941,36.436456,31.190660,62.177317,37.966717,...,22.849764,57.545102,57.001906,39.556847,51.252515,62.205170,0.0,0.0,0.0,0.0
4,4264,NOSATE,59.152403,39.804014,36.159749,49.563905,35.738166,31.123256,60.520038,37.057727,...,22.473061,57.537689,57.218075,38.923608,50.718621,61.272878,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,91.561969,70.552561,51.877898,61.832811,52.629277,43.418058,77.330909,54.030928,...,27.345478,62.059866,59.908632,43.966201,52.424855,62.494309,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,91.728959,70.604102,51.977524,61.915478,52.685546,43.484012,77.452886,54.086016,...,27.371862,62.102707,59.914039,44.003906,52.518839,62.554342,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,91.247500,70.343836,51.679757,61.769641,52.603030,43.253755,77.271328,53.923470,...,27.374541,62.291359,60.191138,44.182804,52.535772,62.646935,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,90.357651,69.983469,51.143442,61.395175,52.360243,42.871885,76.745887,53.625143,...,27.292055,62.293923,60.380566,44.195292,52.248544,62.526059,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,90.467433,69.986755,51.206167,61.474904,52.419264,42.904337,76.872966,53.660419,...,27.331076,62.407942,60.464661,44.299290,52.389541,62.638624,26.0,26.0,26.0,26.0

In [13]:
data_with_demo.replace(np.nan, 0, inplace=True)
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,61.449695,42.116469,36.836699,50.564010,36.817304,31.263254,62.999335,38.425641,...,23.052413,57.668640,57.034373,39.908090,51.532357,62.652051,0.0,0.0,0.0,0.0
1,4046,NOSATE,60.456848,41.126909,36.535750,50.127955,36.347549,31.196430,61.943207,37.840153,...,22.801086,57.585500,57.080985,39.477173,51.180103,62.063261,0.0,0.0,0.0,0.0
2,4262,NOSATE,61.852213,42.532906,36.932051,50.722178,36.998660,31.268970,63.445349,38.668897,...,23.151076,57.640977,56.941106,40.072793,51.675591,62.913655,16.0,16.0,16.0,16.0
3,4263,NOSATE,60.660115,41.345731,36.572410,50.199941,36.436456,31.190660,62.177317,37.966717,...,22.849764,57.545102,57.001906,39.556847,51.252515,62.205170,0.0,0.0,0.0,0.0
4,4264,NOSATE,59.152403,39.804014,36.159749,49.563905,35.738166,31.123256,60.520038,37.057727,...,22.473061,57.537689,57.218075,38.923608,50.718621,61.272878,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,91.561969,70.552561,51.877898,61.832811,52.629277,43.418058,77.330909,54.030928,...,27.345478,62.059866,59.908632,43.966201,52.424855,62.494309,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,91.728959,70.604102,51.977524,61.915478,52.685546,43.484012,77.452886,54.086016,...,27.371862,62.102707,59.914039,44.003906,52.518839,62.554342,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,91.247500,70.343836,51.679757,61.769641,52.603030,43.253755,77.271328,53.923470,...,27.374541,62.291359,60.191138,44.182804,52.535772,62.646935,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,90.357651,69.983469,51.143442,61.395175,52.360243,42.871885,76.745887,53.625143,...,27.292055,62.293923,60.380566,44.195292,52.248544,62.526059,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,90.467433,69.986755,51.206167,61.474904,52.419264,42.904337,76.872966,53.660419,...,27.331076,62.407942,60.464661,44.299290,52.389541,62.638624,26.0,26.0,26.0,26.0

In [14]:
for i in range(len(data_with_demo)):
    for j in range(2, 55):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2013'][i]
    for j in range(55, 108):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2014'][i]
    for j in range(108, 161):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2015'][i]
    for j in range(161, 214):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2016'][i]
        
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
1,4046,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,4262,NOSATE,989.635410,680.526501,590.912815,811.554846,591.978567,500.303517,1015.125585,618.702350,...,370.417217,922.255634,911.057694,641.164691,826.809463,1006.618476,16.0,16.0,16.0,16.0
3,4263,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,4264,NOSATE,887.286038,597.060217,542.396236,743.458571,536.072494,466.848844,907.800567,555.865910,...,337.095920,863.065329,858.271129,583.854127,760.779319,919.093165,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,23622.988074,18202.560807,13384.497583,15952.865153,13578.353430,11201.859052,19951.374640,13939.979310,...,7055.133317,16011.445340,15456.427134,11343.279773,13525.612619,16123.531840,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,9723.269602,7484.034782,5509.617543,6563.040674,5584.667855,4609.305254,8210.005950,5733.117650,...,2901.417342,6582.886891,6350.888112,4664.414010,5566.996919,6630.760239,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,88327.580464,68092.833036,50026.005041,59793.012820,50919.733133,41869.634813,74798.645584,52197.918960,...,26498.555330,60298.035154,58265.021252,42768.954245,50854.627720,60642.233173,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,7409.327380,5738.644447,4193.762263,5034.404370,4293.539936,3515.494580,6293.162759,4397.261717,...,2237.948547,5108.101650,4951.206409,3624.013917,4284.380571,5127.136798,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,2352.153254,1819.655635,1331.360339,1598.347494,1362.900871,1115.512760,1998.697105,1395.170900,...,710.607985,1622.606482,1572.081192,1151.781530,1362.128060,1628.604232,26.0,26.0,26.0,26.0

In [15]:
data_with_demo.drop(['LMB0A_IDcu'], axis=1, inplace=True)
data_with_demo = data_with_demo.groupby(by=['area_associata']).sum()
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,2.697861e+06,1.971743e+06,1.621355e+06,2.144737e+06,1.532493e+06,1.219987e+06,2.836803e+06,1.655178e+06,2.370717e+06,1.139338e+06,...,945285.021585,2.251068e+06,2.188339e+06,1.594109e+06,1.923262e+06,2.295873e+06,32887.0,32887.0,32887.0,32887.0
ALBAIRATE,3.702315e+05,2.698484e+05,2.231848e+05,2.946781e+05,2.086938e+05,1.666877e+05,3.898648e+05,2.263789e+05,3.259592e+05,1.561101e+05,...,129206.853002,3.075082e+05,2.985885e+05,2.168176e+05,2.620674e+05,3.121909e+05,4458.0,4458.0,4458.0,4458.0
ARCONATE,5.053870e+05,3.634808e+05,2.899321e+05,3.942626e+05,2.893827e+05,2.275110e+05,5.216707e+05,3.102096e+05,4.245563e+05,2.023314e+05,...,179681.665721,4.191902e+05,4.062890e+05,3.071326e+05,3.824677e+05,4.697241e+05,6864.0,6864.0,6864.0,6864.0
ARESE,1.936069e+06,9.891835e+05,9.659735e+05,1.166739e+06,9.240981e+05,5.600840e+05,1.210325e+06,7.696727e+05,1.326878e+06,5.309963e+05,...,584064.082492,1.639395e+06,1.663771e+06,1.093956e+06,1.243252e+06,1.533180e+06,17595.0,17595.0,17595.0,17595.0
ARLUNO,9.875610e+05,6.907936e+05,5.770980e+05,7.564978e+05,5.501190e+05,4.237712e+05,9.764408e+05,5.759737e+05,8.388440e+05,3.954970e+05,...,339947.625256,8.272149e+05,8.097904e+05,5.831772e+05,6.979266e+05,8.387150e+05,11705.0,11705.0,11705.0,11705.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,5.127563e+05,3.600878e+05,2.932097e+05,3.907523e+05,2.932567e+05,2.242654e+05,5.041213e+05,3.034783e+05,4.263897e+05,2.024808e+05,...,179961.393776,4.353090e+05,4.270026e+05,3.137217e+05,3.789822e+05,4.622605e+05,6599.0,6599.0,6599.0,6599.0
VIMODRONE,1.829668e+06,1.409985e+06,1.025639e+06,1.372296e+06,1.202739e+06,8.621527e+05,1.773482e+06,1.141919e+06,1.629057e+06,9.187027e+05,...,680219.843909,1.709805e+06,1.686161e+06,1.299777e+06,1.392384e+06,1.640644e+06,22524.0,22524.0,22524.0,22524.0
VITTUONE,8.727375e+05,6.170258e+05,5.153896e+05,6.760677e+05,4.864141e+05,3.788689e+05,8.788019e+05,5.150218e+05,7.499304e+05,3.547473e+05,...,301033.834093,7.283832e+05,7.113029e+05,5.124431e+05,6.147289e+05,7.360074e+05,10316.0,10316.0,10316.0,10316.0
VIZZOLO PREDABISSI,3.456275e+05,2.698957e+05,1.959128e+05,2.586634e+05,2.293315e+05,1.630656e+05,3.338001e+05,2.182555e+05,3.035493e+05,1.653116e+05,...,126233.487805,3.171981e+05,3.167973e+05,2.387950e+05,2.563612e+05,3.058203e+05,4319.0,4319.0,4319.0,4319.0
ZIBIDO SAN GIACOMO,6.682595e+05,5.195776e+05,3.873071e+05,5.031707e+05,4.505801e+05,3.136373e+05,6.575756e+05,4.248819e+05,6.021019e+05,3.115264e+05,...,248287.426836,6.317014e+05,6.404604e+05,4.780063e+05,5.078917e+05,6.118112e+05,8520.0,8520.0,8520.0,8520.0

In [16]:
for i in range(len(data_with_demo)):
    for j in range(0, 53):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2013'][i]
    for j in range(53, 106):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2014'][i]
    for j in range(106, 159):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2015'][i]
    for j in range(159, 212):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2016'][i]

data_with_demo.drop(['POP_2013', 'POP_2014', 'POP_2015', 'POP_2016'], axis=1, inplace=True)
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,82.034267,59.955079,49.300792,65.215342,46.598738,37.096321,86.259087,50.329244,72.086738,34.644029,...,52.849606,36.482280,53.613687,41.628854,28.743425,68.448555,66.541162,48.472322,58.480908,69.810971
ALBAIRATE,83.048786,60.531261,50.063891,66.100959,46.813335,37.390690,87.452849,50.780372,73.117806,35.017964,...,53.146838,36.876683,53.763036,41.679528,28.983143,68.978970,66.978118,48.635631,58.785862,70.029363
ARCONATE,73.628641,52.954658,42.239529,57.439184,42.159486,33.145540,76.000982,45.193702,61.852611,29.477187,...,49.056492,33.835922,51.739968,40.346562,26.177399,61.070836,59.191291,44.745419,55.720815,68.432992
ARESE,110.035184,56.219581,54.900454,66.310814,52.520497,31.831998,68.787984,43.743832,75.412230,30.178817,...,55.914495,56.831878,60.171109,51.489506,33.194890,93.173921,94.559330,62.174274,70.659365,87.137275
ARLUNO,84.370863,59.016969,49.303543,64.630308,46.998633,36.204288,83.420829,49.207496,71.665442,33.788719,...,52.929559,38.506861,54.236527,42.671207,29.042941,70.671928,69.183286,49.822911,59.626366,71.654418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,77.702114,54.567025,44.432439,59.213867,44.439573,33.984755,76.393595,45.988527,64.614295,30.683555,...,50.480088,36.025415,52.907733,41.797908,27.271010,65.965903,64.707163,47.540789,57.430243,70.050085
VIMODRONE,81.231909,62.599214,45.535400,60.925956,53.398100,38.277068,78.737447,50.697856,72.325384,40.787725,...,57.258763,34.483078,59.402211,47.725610,30.199780,75.910350,74.860657,57.706333,61.817807,72.839835
VITTUONE,84.600378,59.812500,49.960220,65.535835,47.151425,36.726338,85.188245,49.924561,72.695849,34.388070,...,53.196443,38.287043,54.217270,42.463392,29.181256,70.607138,68.951421,49.674597,59.589854,71.346202
VIZZOLO PREDABISSI,80.024893,62.490328,45.360689,59.889659,53.098297,37.755414,77.286427,50.533796,70.282318,38.275427,...,55.033435,34.135572,55.973190,45.173437,29.227480,73.442491,73.349695,55.289411,59.356610,70.808121
ZIBIDO SAN GIACOMO,78.434214,60.983281,45.458576,59.057590,52.884992,36.811895,77.180238,49.868763,70.669237,36.564131,...,54.970140,35.821989,55.715802,45.343083,29.141717,74.143357,75.171408,56.104024,59.611701,71.808824

In [17]:
data_with_demo.drop(['SAN COLOMBANO AL LAMBRO'], axis=0, inplace=True)
data_with_demo.shape

(140, 212)

In [18]:
from scipy.stats import kstest

p_values = []

for i in range(len(data_with_demo)):
    p_values.append(kstest(data_with_demo.iloc[i,0:53], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,53:106], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,106:159], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,159:212], 'norm').pvalue)
    
len(p_values)

560

In [19]:
print(sum(i > 0.05 for i in p_values)  / len(p_values))

0.0

In [20]:
from scipy.stats import kruskal

p_values_kruskal = []

for i in range(len(data_with_demo)):
    p_values_kruskal.append(kruskal(data_with_demo.iloc[i,0:53], data_with_demo.iloc[i,53:106], data_with_demo.iloc[i,106:159], data_with_demo.iloc[i,159:212]).pvalue)
    
len(p_values_kruskal)

140

In [21]:
print(sum(i > 0.05 for i in p_values_kruskal) / len(p_values_kruskal))   # High percentage!

0.9571428571428572

In [22]:
data_checkpoint = data_with_demo.copy()
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,82.034267,59.955079,49.300792,65.215342,46.598738,37.096321,86.259087,50.329244,72.086738,34.644029,...,52.849606,36.482280,53.613687,41.628854,28.743425,68.448555,66.541162,48.472322,58.480908,69.810971
ALBAIRATE,83.048786,60.531261,50.063891,66.100959,46.813335,37.390690,87.452849,50.780372,73.117806,35.017964,...,53.146838,36.876683,53.763036,41.679528,28.983143,68.978970,66.978118,48.635631,58.785862,70.029363
ARCONATE,73.628641,52.954658,42.239529,57.439184,42.159486,33.145540,76.000982,45.193702,61.852611,29.477187,...,49.056492,33.835922,51.739968,40.346562,26.177399,61.070836,59.191291,44.745419,55.720815,68.432992
ARESE,110.035184,56.219581,54.900454,66.310814,52.520497,31.831998,68.787984,43.743832,75.412230,30.178817,...,55.914495,56.831878,60.171109,51.489506,33.194890,93.173921,94.559330,62.174274,70.659365,87.137275
ARLUNO,84.370863,59.016969,49.303543,64.630308,46.998633,36.204288,83.420829,49.207496,71.665442,33.788719,...,52.929559,38.506861,54.236527,42.671207,29.042941,70.671928,69.183286,49.822911,59.626366,71.654418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,77.702114,54.567025,44.432439,59.213867,44.439573,33.984755,76.393595,45.988527,64.614295,30.683555,...,50.480088,36.025415,52.907733,41.797908,27.271010,65.965903,64.707163,47.540789,57.430243,70.050085
VIMODRONE,81.231909,62.599214,45.535400,60.925956,53.398100,38.277068,78.737447,50.697856,72.325384,40.787725,...,57.258763,34.483078,59.402211,47.725610,30.199780,75.910350,74.860657,57.706333,61.817807,72.839835
VITTUONE,84.600378,59.812500,49.960220,65.535835,47.151425,36.726338,85.188245,49.924561,72.695849,34.388070,...,53.196443,38.287043,54.217270,42.463392,29.181256,70.607138,68.951421,49.674597,59.589854,71.346202
VIZZOLO PREDABISSI,80.024893,62.490328,45.360689,59.889659,53.098297,37.755414,77.286427,50.533796,70.282318,38.275427,...,55.033435,34.135572,55.973190,45.173437,29.227480,73.442491,73.349695,55.289411,59.356610,70.808121
ZIBIDO SAN GIACOMO,78.434214,60.983281,45.458576,59.057590,52.884992,36.811895,77.180238,49.868763,70.669237,36.564131,...,54.970140,35.821989,55.715802,45.343083,29.141717,74.143357,75.171408,56.104024,59.611701,71.808824

In [23]:
threshold = 50 * 0.6 * (4/7)

exceeding_2013 = []
exceeding_2014 = []
exceeding_2015 = []
exceeding_2016 = []
intensity_2013 = []
intensity_2014 = []
intensity_2015 = []
intensity_2016 = []

for i in range(len(data_with_demo)):
    temp = sum(data_with_demo.iloc[i,0:53] > threshold)
    exceeding_2013.append(temp)
    temp = sum(data_with_demo.iloc[i,53:106] > threshold)
    exceeding_2014.append(temp)
    temp = sum(data_with_demo.iloc[i,106:159] > threshold)
    exceeding_2015.append(temp)
    temp = sum(data_with_demo.iloc[i,159:212] > threshold)
    exceeding_2016.append(temp)
    
    if ((data_with_demo[data_with_demo > threshold].iloc[i,0:53]).isna().sum()) < 53:
        intensity_2013.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,0:53] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2013.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,53:106]).isna().sum()) < 53:
        intensity_2014.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,53:106] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2014.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,106:159]).isna().sum()) < 53:
        intensity_2015.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,106:159] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2015.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,159:212]).isna().sum()) < 53:
        intensity_2016.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,159:212] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2016.append(0)

df_2013 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2013['Year'] = 2013
df_2013['frequency_PM10'] = exceeding_2013
df_2013['exposure_PM10'] = intensity_2013
df_2013['intensity_PM10'] = df_2013['frequency_PM10'] * df_2013['exposure_PM10']

df_2014 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2014['Year'] = 2014
df_2014['frequency_PM10'] = exceeding_2014
df_2014['exposure_PM10'] = intensity_2014
df_2014['intensity_PM10'] = df_2014['frequency_PM10'] * df_2014['exposure_PM10']

df_2015 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2015['Year'] = 2015
df_2015['frequency_PM10'] = exceeding_2015
df_2015['exposure_PM10'] = intensity_2015
df_2015['intensity_PM10'] = df_2015['frequency_PM10'] * df_2015['exposure_PM10']

df_2016 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2016['Year'] = 2016
df_2016['frequency_PM10'] = exceeding_2016
df_2016['exposure_PM10'] = intensity_2016
df_2016['intensity_PM10'] = df_2016['frequency_PM10'] * df_2016['exposure_PM10']

final_dataset = pd.concat([df_2013, df_2014, df_2015, df_2016], ignore_index=True)

In [24]:
final_dataset = final_dataset.round(3)
final_dataset

         area_associata  Year  frequency_PM10  exposure_PM10  intensity_PM10
0         ABBIATEGRASSO  2013              44          1.891          83.199
1             ALBAIRATE  2013              44          1.931          84.957
2              ARCONATE  2013              43          1.550          66.656
3                 ARESE  2013              48          1.564          75.082
4                ARLUNO  2013              45          1.870          84.170
..                  ...   ...             ...            ...             ...
555       VILLA CORTESE  2016              45          1.651          74.316
556           VIMODRONE  2016              49          1.667          81.681
557            VITTUONE  2016              47          1.640          77.072
558  VIZZOLO PREDABISSI  2016              50          1.551          77.535
559  ZIBIDO SAN GIACOMO  2016              49          1.619          79.312

[560 rows x 5 columns]

In [25]:
final_dataset.to_csv('Final_datasets_pollution/Final_dataset_PM10.csv', index=False)

### Synthetic data

In [26]:
# The goal for 2030 reduce by 60% the PM emissions
synthetic_data = data_checkpoint * 0.5

In [27]:
exceeding_2013_s = []
exceeding_2014_s = []
exceeding_2015_s = []
exceeding_2016_s = []
intensity_2013_s = []
intensity_2014_s = []
intensity_2015_s = []
intensity_2016_s = []

for i in range(len(synthetic_data)):
    temp = sum(synthetic_data.iloc[i,0:53] > threshold)
    exceeding_2013_s.append(temp)
    temp = sum(synthetic_data.iloc[i,53:106] > threshold)
    exceeding_2014_s.append(temp)
    temp = sum(synthetic_data.iloc[i,106:159] > threshold)
    exceeding_2015_s.append(temp)
    temp = sum(synthetic_data.iloc[i,159:212] > threshold)
    exceeding_2016_s.append(temp)
    
    if ((synthetic_data[synthetic_data > threshold].iloc[i,0:53]).isna().sum()) < 53:
        intensity_2013_s.append(np.quantile(((synthetic_data[synthetic_data > threshold].iloc[i,0:53] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2013_s.append(0)
    if ((synthetic_data[synthetic_data > threshold].iloc[i,53:106]).isna().sum()) < 53:
        intensity_2014_s.append(np.quantile(((synthetic_data[synthetic_data > threshold].iloc[i,53:106] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2014_s.append(0)
    if ((synthetic_data[synthetic_data > threshold].iloc[i,106:159]).isna().sum()) < 53:
        intensity_2015_s.append(np.quantile(((synthetic_data[synthetic_data > threshold].iloc[i,106:159] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2015_s.append(0)
    if ((synthetic_data[synthetic_data > threshold].iloc[i,159:212]).isna().sum()) < 53:
        intensity_2016_s.append(np.quantile(((synthetic_data[synthetic_data > threshold].iloc[i,159:212] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2016_s.append(0)
    
df_2013_s = pd.DataFrame(data=synthetic_data.index, columns=['area_associata'])
df_2013_s['Year'] = 2013
df_2013_s['frequency_PM10'] = exceeding_2013_s
df_2013_s['exposure_PM10'] = intensity_2013_s
df_2013_s['intensity_PM10'] = df_2013_s['frequency_PM10'] * df_2013_s['exposure_PM10']

df_2014_s = pd.DataFrame(data=synthetic_data.index, columns=['area_associata'])
df_2014_s['Year'] = 2014
df_2014_s['frequency_PM10'] = exceeding_2014_s
df_2014_s['exposure_PM10'] = intensity_2014_s
df_2014_s['intensity_PM10'] = df_2014_s['frequency_PM10'] * df_2014_s['exposure_PM10']

df_2015_s = pd.DataFrame(data=synthetic_data.index, columns=['area_associata'])
df_2015_s['Year'] = 2015
df_2015_s['frequency_PM10'] = exceeding_2015_s
df_2015_s['exposure_PM10'] = intensity_2015_s
df_2015_s['intensity_PM10'] = df_2015_s['frequency_PM10'] * df_2015_s['exposure_PM10']

df_2016_s = pd.DataFrame(data=synthetic_data.index, columns=['area_associata'])
df_2016_s['Year'] = 2016
df_2016_s['frequency_PM10'] = exceeding_2016_s
df_2016_s['exposure_PM10'] = intensity_2016_s
df_2016_s['intensity_PM10'] = df_2016_s['frequency_PM10'] * df_2016_s['exposure_PM10']

final_dataset_s = pd.concat([df_2013_s, df_2014_s, df_2015_s, df_2016_s], ignore_index=True)

In [28]:
final_dataset_s = final_dataset_s.round(3)

In [29]:
final_dataset_s.to_csv('Synthetic_data_pollution/Synthetic_dataset_PM10.csv', index=False)