# Demographic data

In [1]:
import pandas as pd
import numpy as np

demographic_data = pd.read_csv('C://Users/alber/Downloads/LMB0A_population.csv')
demographic_data

       LMB0A_IDcu  POP_2015  POP_2016  POP_2017  POP_2018  POP_2019  POP_2020
0            9920      4132      4132      4132      4132      4132      4148
1           12738      2195      2195      2195      2195      2195      2173
2            9475      2979      2979      2979      2979      2979      2972
3           15102       481       481       481       481       481       475
4           10131      1958      1958      1958      1958      1958      1956
...           ...       ...       ...       ...       ...       ...       ...
21938       10747         1         1         1         1         1         1
21939       13785         1         1         1         1         1         1
21940       14013         0         0         0         0         0         0
21941       15135         2         2         2         2         2         2
21942       11839         3         3         3         3         3         3

[21943 rows x 7 columns]

In [2]:
demographic_data[['POP_2013', 'POP_2014']] = np.nan
data_to_interpolate = demographic_data[['POP_2013', 'POP_2014', 'POP_2015', 'POP_2016', 'POP_2017', 'POP_2018',
                                    'POP_2019', 'POP_2020']]

In [3]:
for i in range(len(data_to_interpolate)):
    temp = data_to_interpolate.iloc[i,:].interpolate(method='linear', limit_direction='both')
    data_to_interpolate.iloc[i,0] = temp[0]
    data_to_interpolate.iloc[i,1] = temp[1]
    
# data_to_interpolate['POP_2013'] = data_to_interpolate['POP_2013'].astype('int64')
# data_to_interpolate['POP_2014'] = data_to_interpolate['POP_2014'].astype('int64')

In [4]:
data_to_interpolate

,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020
0,4132.0,4132.0,4132,4132,4132,4132,4132,4148
1,2195.0,2195.0,2195,2195,2195,2195,2195,2173
2,2979.0,2979.0,2979,2979,2979,2979,2979,2972
3,481.0,481.0,481,481,481,481,481,475
4,1958.0,1958.0,1958,1958,1958,1958,1958,1956
...,...,...,...,...,...,...,...,...
21938,1.0,1.0,1,1,1,1,1,1
21939,1.0,1.0,1,1,1,1,1,1
21940,0.0,0.0,0,0,0,0,0,0
21941,2.0,2.0,2,2,2,2,2,2
21942,3.0,3.0,3,3,3,3,3,3

In [5]:
demographic_data = pd.concat([demographic_data['LMB0A_IDcu'], data_to_interpolate], axis=1)
demographic_data

,LMB0A_IDcu,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020
0,9920,4132.0,4132.0,4132,4132,4132,4132,4132,4148
1,12738,2195.0,2195.0,2195,2195,2195,2195,2195,2173
2,9475,2979.0,2979.0,2979,2979,2979,2979,2979,2972
3,15102,481.0,481.0,481,481,481,481,481,475
4,10131,1958.0,1958.0,1958,1958,1958,1958,1958,1956
...,...,...,...,...,...,...,...,...,...
21938,10747,1.0,1.0,1,1,1,1,1,1
21939,13785,1.0,1.0,1,1,1,1,1,1
21940,14013,0.0,0.0,0,0,0,0,0,0
21941,15135,2.0,2.0,2,2,2,2,2,2
21942,11839,3.0,3.0,3,3,3,3,3,3

# Environmental data

In [6]:
data = pd.read_csv('C://Users/alber/Downloads/biossido_di_azoto.csv')
ids = pd.read_excel('C://Users/alber/Downloads/relation_exagon_area_final.xlsx')

In [7]:
ids.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
data

,LMB0A_IDcu,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,4045,48.044772,36.445053,45.887075,51.100716,48.569525,34.675837,64.221076,43.961117,51.514406,...,30.020007,37.092136,40.450650,43.415855,32.721566,44.391418,54.505914,44.560839,43.689004,43.951758
1,4046,47.343488,36.280789,45.306674,50.321631,48.417042,33.369487,63.985405,43.933520,50.701166,...,29.638691,36.663526,39.989813,43.333027,32.240285,43.993995,54.384689,44.148178,43.400291,43.470560
2,4261,49.028611,36.498078,46.546651,52.159714,48.644205,36.528826,64.142167,43.513654,52.606215,...,30.541451,37.725549,41.145046,43.598331,33.309146,44.910644,54.770120,45.146193,44.022505,44.502646
3,4262,48.092108,36.187912,45.873906,51.250034,48.437798,34.989322,63.807313,43.391200,51.594241,...,29.984351,37.117886,40.500591,43.412665,32.638711,44.323971,54.471332,44.507585,43.542179,43.905600
4,4263,47.332994,36.058444,45.270622,50.400920,48.308202,33.545107,63.645090,43.476809,50.716087,...,29.578797,36.650831,39.993702,43.318646,32.137375,43.908865,54.335992,44.067516,43.255710,43.408814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,20616,62.636710,47.804159,57.814415,58.858936,61.440968,58.768994,81.657002,56.261141,55.537203,...,47.381902,52.543512,57.187538,52.398830,47.990765,59.364873,69.983515,65.627159,63.733392,62.577279
2012,20617,62.228298,47.512394,57.777045,58.562916,61.241728,58.613091,81.697506,55.814946,54.860038,...,46.587094,51.612748,56.135477,50.629978,47.308289,58.453075,68.350492,63.595341,62.299239,61.326408
2013,20618,61.484981,46.944495,57.442129,57.929239,60.873541,58.300747,81.591078,55.312646,54.160554,...,45.938784,50.842459,55.269304,49.067349,46.741756,57.714058,66.921717,61.817250,61.050634,60.226647
2014,20619,60.776379,46.429743,56.924890,57.162670,60.601368,58.020963,81.502928,55.109561,53.881822,...,45.758533,50.573617,54.964912,48.455753,46.615214,57.592810,66.324878,61.114071,60.646873,59.863582
2015,20834,62.841434,48.114432,58.042787,58.833654,61.736160,58.962948,82.187358,56.368141,55.487242,...,46.729496,51.682698,56.186064,50.997969,47.577384,58.841080,68.514359,63.925737,62.758178,61.753688

In [9]:
ids

      LMB0A_IDcu  area_associata
0           4045          NOSATE
1           4046          NOSATE
2           4262          NOSATE
3           4263          NOSATE
4           4264          NOSATE
...          ...             ...
1828       20398  CASSANO D`ADDA
1829       20399  CASSANO D`ADDA
1830       20400  CASSANO D`ADDA
1831       20617  CASSANO D`ADDA
1832       20618  CASSANO D`ADDA

[1833 rows x 2 columns]

In [10]:
data = pd.merge(ids, data, on="LMB0A_IDcu")
data

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,4045,NOSATE,48.044772,36.445053,45.887075,51.100716,48.569525,34.675837,64.221076,43.961117,...,30.020007,37.092136,40.450650,43.415855,32.721566,44.391418,54.505914,44.560839,43.689004,43.951758
1,4046,NOSATE,47.343488,36.280789,45.306674,50.321631,48.417042,33.369487,63.985405,43.933520,...,29.638691,36.663526,39.989813,43.333027,32.240285,43.993995,54.384689,44.148178,43.400291,43.470560
2,4262,NOSATE,48.092108,36.187912,45.873906,51.250034,48.437798,34.989322,63.807313,43.391200,...,29.984351,37.117886,40.500591,43.412665,32.638711,44.323971,54.471332,44.507585,43.542179,43.905600
3,4263,NOSATE,47.332994,36.058444,45.270622,50.400920,48.308202,33.545107,63.645090,43.476809,...,29.578797,36.650831,39.993702,43.318646,32.137375,43.908865,54.335992,44.067516,43.255710,43.408814
4,4264,NOSATE,46.313516,35.960925,44.337407,49.108121,48.125019,31.378906,63.431852,43.631768,...,29.086937,36.063650,39.352824,43.284374,31.495284,43.415409,54.308683,43.571564,42.979780,42.692954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,61.906794,46.980164,57.335077,58.565484,60.684137,58.261657,80.863816,55.750884,...,47.810816,53.196375,57.960080,53.168847,48.186730,59.580237,70.955509,66.669175,64.149907,62.894421
1829,20399,CASSANO D`ADDA,60.989206,46.325913,57.471776,58.119109,60.256399,57.932985,80.820946,54.417993,...,45.649284,50.727923,55.193376,48.565578,46.189423,56.884164,66.805067,61.399092,60.260877,59.502198
1830,20400,CASSANO D`ADDA,60.590865,46.176064,57.168075,57.453784,60.323767,57.878627,81.122035,54.433860,...,45.209937,50.080886,54.443641,47.453428,45.930987,56.610275,65.617364,60.045660,59.559302,58.901366
1831,20617,CASSANO D`ADDA,62.228298,47.512394,57.777045,58.562916,61.241728,58.613091,81.697506,55.814946,...,46.587094,51.612748,56.135477,50.629978,47.308289,58.453075,68.350492,63.595341,62.299239,61.326408
1832,20618,CASSANO D`ADDA,61.484981,46.944495,57.442129,57.929239,60.873541,58.300747,81.591078,55.312646,...,45.938784,50.842459,55.269304,49.067349,46.741756,57.714058,66.921717,61.817250,61.050634,60.226647

In [11]:
new_demo = demographic_data.iloc[:, :5]
data_with_demo = pd.merge(data, new_demo, on="LMB0A_IDcu", how='left')

In [12]:
pd.set_option('display.max_rows', 20)
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,48.044772,36.445053,45.887075,51.100716,48.569525,34.675837,64.221076,43.961117,...,32.721566,44.391418,54.505914,44.560839,43.689004,43.951758,NaN,NaN,NaN,NaN
1,4046,NOSATE,47.343488,36.280789,45.306674,50.321631,48.417042,33.369487,63.985405,43.933520,...,32.240285,43.993995,54.384689,44.148178,43.400291,43.470560,NaN,NaN,NaN,NaN
2,4262,NOSATE,48.092108,36.187912,45.873906,51.250034,48.437798,34.989322,63.807313,43.391200,...,32.638711,44.323971,54.471332,44.507585,43.542179,43.905600,16.0,16.0,16.0,16.0
3,4263,NOSATE,47.332994,36.058444,45.270622,50.400920,48.308202,33.545107,63.645090,43.476809,...,32.137375,43.908865,54.335992,44.067516,43.255710,43.408814,0.0,0.0,0.0,0.0
4,4264,NOSATE,46.313516,35.960925,44.337407,49.108121,48.125019,31.378906,63.431852,43.631768,...,31.495284,43.415409,54.308683,43.571564,42.979780,42.692954,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,61.906794,46.980164,57.335077,58.565484,60.684137,58.261657,80.863816,55.750884,...,48.186730,59.580237,70.955509,66.669175,64.149907,62.894421,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,60.989206,46.325913,57.471776,58.119109,60.256399,57.932985,80.820946,54.417993,...,46.189423,56.884164,66.805067,61.399092,60.260877,59.502198,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,60.590865,46.176064,57.168075,57.453784,60.323767,57.878627,81.122035,54.433860,...,45.930987,56.610275,65.617364,60.045660,59.559302,58.901366,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,62.228298,47.512394,57.777045,58.562916,61.241728,58.613091,81.697506,55.814946,...,47.308289,58.453075,68.350492,63.595341,62.299239,61.326408,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,61.484981,46.944495,57.442129,57.929239,60.873541,58.300747,81.591078,55.312646,...,46.741756,57.714058,66.921717,61.817250,61.050634,60.226647,26.0,26.0,26.0,26.0

In [13]:
data_with_demo.replace(np.nan, 0, inplace=True)
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,48.044772,36.445053,45.887075,51.100716,48.569525,34.675837,64.221076,43.961117,...,32.721566,44.391418,54.505914,44.560839,43.689004,43.951758,0.0,0.0,0.0,0.0
1,4046,NOSATE,47.343488,36.280789,45.306674,50.321631,48.417042,33.369487,63.985405,43.933520,...,32.240285,43.993995,54.384689,44.148178,43.400291,43.470560,0.0,0.0,0.0,0.0
2,4262,NOSATE,48.092108,36.187912,45.873906,51.250034,48.437798,34.989322,63.807313,43.391200,...,32.638711,44.323971,54.471332,44.507585,43.542179,43.905600,16.0,16.0,16.0,16.0
3,4263,NOSATE,47.332994,36.058444,45.270622,50.400920,48.308202,33.545107,63.645090,43.476809,...,32.137375,43.908865,54.335992,44.067516,43.255710,43.408814,0.0,0.0,0.0,0.0
4,4264,NOSATE,46.313516,35.960925,44.337407,49.108121,48.125019,31.378906,63.431852,43.631768,...,31.495284,43.415409,54.308683,43.571564,42.979780,42.692954,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,61.906794,46.980164,57.335077,58.565484,60.684137,58.261657,80.863816,55.750884,...,48.186730,59.580237,70.955509,66.669175,64.149907,62.894421,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,60.989206,46.325913,57.471776,58.119109,60.256399,57.932985,80.820946,54.417993,...,46.189423,56.884164,66.805067,61.399092,60.260877,59.502198,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,60.590865,46.176064,57.168075,57.453784,60.323767,57.878627,81.122035,54.433860,...,45.930987,56.610275,65.617364,60.045660,59.559302,58.901366,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,62.228298,47.512394,57.777045,58.562916,61.241728,58.613091,81.697506,55.814946,...,47.308289,58.453075,68.350492,63.595341,62.299239,61.326408,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,61.484981,46.944495,57.442129,57.929239,60.873541,58.300747,81.591078,55.312646,...,46.741756,57.714058,66.921717,61.817250,61.050634,60.226647,26.0,26.0,26.0,26.0

In [14]:
for i in range(len(data_with_demo)):
    for j in range(2, 55):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2013'][i]
    for j in range(55, 108):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2014'][i]
    for j in range(108, 161):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2015'][i]
    for j in range(161, 214):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2016'][i]
        
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
1,4046,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,4262,NOSATE,769.473722,579.006590,733.982501,820.000543,775.004764,559.829157,1020.917011,694.259192,...,522.219375,709.183542,871.541311,712.121364,696.674862,702.489598,16.0,16.0,16.0,16.0
3,4263,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,4264,NOSATE,694.702735,539.413869,665.061106,736.621813,721.875285,470.683593,951.477780,654.476521,...,472.429266,651.231139,814.630250,653.573466,644.696694,640.394317,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,15971.952875,12120.882286,14792.449908,15109.894901,15656.507464,15031.507415,20862.864584,14383.728049,...,12432.176422,15371.701133,18306.521404,17200.647127,16550.675892,16226.760674,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,6464.855869,4910.546759,6092.008245,6160.625552,6387.178345,6140.896436,8567.020275,5768.307299,...,4896.078834,6029.721418,7081.337135,6508.303759,6387.652977,6307.233003,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,58651.957174,44698.429488,55338.697011,55615.262474,58393.406231,56026.510525,78526.130092,52691.976865,...,44461.195124,54798.746014,63517.608684,58124.199304,57653.404389,57016.521864,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,5102.720454,3896.016312,4737.717673,4802.159100,5021.821707,4806.273475,6699.195480,4576.825567,...,3879.279735,4793.152121,5604.740367,5214.817950,5108.537588,5028.765432,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,1598.609511,1220.556873,1493.495357,1506.160218,1582.712070,1515.819409,2121.368027,1438.128794,...,1215.285643,1500.565501,1739.964633,1607.248498,1587.316493,1565.892817,26.0,26.0,26.0,26.0

In [15]:
data_with_demo.drop(['LMB0A_IDcu'], axis=1, inplace=True)
data_with_demo = data_with_demo.groupby(by=['area_associata']).sum()
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,1.895292e+06,1.630762e+06,2.384070e+06,2.353865e+06,2.050950e+06,2.359188e+06,3.346690e+06,2.394407e+06,2.611352e+06,2.207848e+06,...,1.567009e+06,2.006256e+06,1.780672e+06,1.793733e+06,2.365411e+06,2.386994e+06,32887.0,32887.0,32887.0,32887.0
ALBAIRATE,2.785189e+05,2.201586e+05,2.945404e+05,3.048231e+05,2.661361e+05,2.810653e+05,4.145646e+05,2.962950e+05,3.323515e+05,2.740944e+05,...,2.222938e+05,2.685110e+05,2.602075e+05,2.549415e+05,2.903042e+05,2.888330e+05,4458.0,4458.0,4458.0,4458.0
ARCONATE,3.084436e+05,2.677147e+05,2.852071e+05,3.345424e+05,3.046588e+05,2.245539e+05,4.112682e+05,3.030004e+05,3.186042e+05,2.624046e+05,...,2.220386e+05,3.067715e+05,4.065378e+05,3.346880e+05,2.900091e+05,2.753789e+05,6864.0,6864.0,6864.0,6864.0
ARESE,1.253404e+06,9.418269e+05,1.122388e+06,1.226329e+06,1.066246e+06,9.515593e+05,1.436579e+06,1.080095e+06,1.277863e+06,1.004308e+06,...,1.001434e+06,1.284003e+06,1.411669e+06,1.227243e+06,1.174019e+06,1.216593e+06,17595.0,17595.0,17595.0,17595.0
ARLUNO,7.792106e+05,5.772733e+05,6.947298e+05,7.610125e+05,6.719946e+05,6.254563e+05,9.677846e+05,7.025672e+05,8.230765e+05,6.578998e+05,...,5.842937e+05,6.945809e+05,7.421169e+05,6.937434e+05,6.836031e+05,6.715996e+05,11705.0,11705.0,11705.0,11705.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,3.779057e+05,2.967394e+05,3.413240e+05,3.833969e+05,3.494499e+05,2.979229e+05,4.656298e+05,3.676658e+05,4.085990e+05,3.500292e+05,...,2.618397e+05,3.345162e+05,3.911191e+05,3.465001e+05,3.320033e+05,3.180963e+05,6599.0,6599.0,6599.0,6599.0
VIMODRONE,1.693253e+06,1.244269e+06,1.415658e+06,1.496233e+06,1.314765e+06,1.388638e+06,1.978673e+06,1.375882e+06,1.618122e+06,1.385735e+06,...,1.266672e+06,1.605610e+06,1.723638e+06,1.650550e+06,1.616799e+06,1.590916e+06,22524.0,22524.0,22524.0,22524.0
VITTUONE,6.979111e+05,5.155506e+05,6.241712e+05,6.823136e+05,6.002977e+05,5.684295e+05,8.734602e+05,6.302379e+05,7.406526e+05,5.906876e+05,...,5.313442e+05,6.234536e+05,6.554858e+05,6.210947e+05,6.160329e+05,6.038745e+05,10316.0,10316.0,10316.0,10316.0
VIZZOLO PREDABISSI,2.056908e+05,1.601598e+05,2.137940e+05,2.150165e+05,1.995467e+05,2.100447e+05,3.175150e+05,1.989676e+05,2.263923e+05,2.084065e+05,...,1.575576e+05,2.157326e+05,2.007640e+05,1.796642e+05,1.911944e+05,1.969681e+05,4319.0,4319.0,4319.0,4319.0
ZIBIDO SAN GIACOMO,5.685017e+05,4.339551e+05,5.393099e+05,5.683020e+05,4.932535e+05,4.944806e+05,7.540279e+05,5.291693e+05,5.782760e+05,5.102629e+05,...,4.220267e+05,5.245758e+05,5.129896e+05,5.292546e+05,5.118642e+05,5.028843e+05,8520.0,8520.0,8520.0,8520.0

In [16]:
for i in range(len(data_with_demo)):
    for j in range(0, 53):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2013'][i]
    for j in range(53, 106):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2014'][i]
    for j in range(106, 159):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2015'][i]
    for j in range(159, 212):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2016'][i]

data_with_demo.drop(['POP_2013', 'POP_2014', 'POP_2015', 'POP_2016'], axis=1, inplace=True)
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,57.630445,49.586819,72.492782,71.574319,62.363555,71.736185,101.763321,72.807111,79.403773,67.134357,...,39.704683,46.998048,54.711584,52.151926,47.648294,61.004523,54.145164,54.542318,71.925407,72.581695
ALBAIRATE,62.476198,49.385060,66.070083,68.376658,59.698548,63.047409,92.993404,66.463667,74.551697,61.483708,...,41.127484,48.028103,53.691209,50.543720,49.864027,60.231268,58.368663,57.187414,65.119840,64.789819
ARCONATE,44.936419,39.002730,41.551156,48.738701,44.385028,32.714724,59.916693,44.143419,46.416702,38.229106,...,32.144496,38.973830,41.243021,46.504481,32.348278,44.692811,59.227530,48.759900,42.250750,40.119306
ARESE,71.236361,53.528098,63.790145,69.697580,60.599391,54.081236,81.646991,61.386456,72.626494,57.079178,...,48.702621,56.861705,58.478411,51.588555,56.915837,72.975471,80.231234,69.749539,66.724609,69.144256
ARLUNO,66.570748,49.318524,59.353250,65.016017,57.410901,53.434969,82.681301,60.022830,70.318366,56.206731,...,41.917272,49.182388,52.267734,49.356849,49.918300,59.340527,63.401699,59.268980,58.402660,57.377157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,57.267111,44.967336,51.723601,58.099237,52.954980,45.146669,70.560663,55.715386,61.918325,53.042767,...,36.226045,43.347617,46.167880,45.113065,39.678693,50.691946,59.269457,52.507965,50.311150,48.203718
VIMODRONE,75.175522,55.241931,62.851113,66.428406,58.371753,61.651472,87.847304,61.085155,71.839918,61.522606,...,50.927091,56.877842,61.130198,53.703604,56.236543,71.284427,76.524506,73.279603,71.781161,70.632046
VITTUONE,67.653267,49.975826,60.505161,66.141293,58.190940,55.101740,84.670435,61.093241,71.796492,57.259364,...,42.609343,49.825907,53.060589,49.968953,51.506801,60.435598,63.540698,60.206936,59.716257,58.537664
VIZZOLO PREDABISSI,47.624639,37.082616,49.500808,49.783868,46.202060,48.632712,73.515853,46.067981,52.417767,48.253418,...,39.250812,42.847854,48.788542,39.218075,36.480100,49.949657,46.483918,41.598557,44.268202,45.605033
ZIBIDO SAN GIACOMO,66.725556,50.933696,63.299284,66.702116,57.893600,58.037633,88.500922,62.109076,67.872773,59.890012,...,45.030203,50.629467,56.941007,50.382983,49.533656,61.569924,60.210044,62.119081,60.077958,59.023981

In [17]:
data_with_demo.drop(['SAN COLOMBANO AL LAMBRO'], axis=0, inplace=True)
data_with_demo.shape

(140, 212)

In [18]:
from scipy.stats import kstest

p_values = []

for i in range(len(data_with_demo)):
    p_values.append(kstest(data_with_demo.iloc[i,0:53], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,53:106], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,106:159], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,159:212], 'norm').pvalue)
    
len(p_values)

560

In [19]:
print(sum(i > 0.05 for i in p_values)  / len(p_values))

0.0

In [20]:
from scipy.stats import kruskal

p_values_kruskal = []

for i in range(len(data_with_demo)):
    p_values_kruskal.append(kruskal(data_with_demo.iloc[i,0:53], data_with_demo.iloc[i,53:106], data_with_demo.iloc[i,106:159], data_with_demo.iloc[i,159:212]).pvalue)
    
len(p_values_kruskal)

140

In [21]:
print(sum(i > 0.05 for i in p_values_kruskal) / len(p_values_kruskal))   # High percentage!

0.85

In [22]:
data_checkpoint = data_with_demo.copy()
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,57.630445,49.586819,72.492782,71.574319,62.363555,71.736185,101.763321,72.807111,79.403773,67.134357,...,39.704683,46.998048,54.711584,52.151926,47.648294,61.004523,54.145164,54.542318,71.925407,72.581695
ALBAIRATE,62.476198,49.385060,66.070083,68.376658,59.698548,63.047409,92.993404,66.463667,74.551697,61.483708,...,41.127484,48.028103,53.691209,50.543720,49.864027,60.231268,58.368663,57.187414,65.119840,64.789819
ARCONATE,44.936419,39.002730,41.551156,48.738701,44.385028,32.714724,59.916693,44.143419,46.416702,38.229106,...,32.144496,38.973830,41.243021,46.504481,32.348278,44.692811,59.227530,48.759900,42.250750,40.119306
ARESE,71.236361,53.528098,63.790145,69.697580,60.599391,54.081236,81.646991,61.386456,72.626494,57.079178,...,48.702621,56.861705,58.478411,51.588555,56.915837,72.975471,80.231234,69.749539,66.724609,69.144256
ARLUNO,66.570748,49.318524,59.353250,65.016017,57.410901,53.434969,82.681301,60.022830,70.318366,56.206731,...,41.917272,49.182388,52.267734,49.356849,49.918300,59.340527,63.401699,59.268980,58.402660,57.377157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,57.267111,44.967336,51.723601,58.099237,52.954980,45.146669,70.560663,55.715386,61.918325,53.042767,...,36.226045,43.347617,46.167880,45.113065,39.678693,50.691946,59.269457,52.507965,50.311150,48.203718
VIMODRONE,75.175522,55.241931,62.851113,66.428406,58.371753,61.651472,87.847304,61.085155,71.839918,61.522606,...,50.927091,56.877842,61.130198,53.703604,56.236543,71.284427,76.524506,73.279603,71.781161,70.632046
VITTUONE,67.653267,49.975826,60.505161,66.141293,58.190940,55.101740,84.670435,61.093241,71.796492,57.259364,...,42.609343,49.825907,53.060589,49.968953,51.506801,60.435598,63.540698,60.206936,59.716257,58.537664
VIZZOLO PREDABISSI,47.624639,37.082616,49.500808,49.783868,46.202060,48.632712,73.515853,46.067981,52.417767,48.253418,...,39.250812,42.847854,48.788542,39.218075,36.480100,49.949657,46.483918,41.598557,44.268202,45.605033
ZIBIDO SAN GIACOMO,66.725556,50.933696,63.299284,66.702116,57.893600,58.037633,88.500922,62.109076,67.872773,59.890012,...,45.030203,50.629467,56.941007,50.382983,49.533656,61.569924,60.210044,62.119081,60.077958,59.023981

In [23]:
threshold = 200 * 0.6 * (4/7)

exceeding_2013 = []
exceeding_2014 = []
exceeding_2015 = []
exceeding_2016 = []
intensity_2013 = []
intensity_2014 = []
intensity_2015 = []
intensity_2016 = []

for i in range(len(data_with_demo)):
    temp = sum(data_with_demo.iloc[i,0:53] > threshold)
    exceeding_2013.append(temp)
    temp = sum(data_with_demo.iloc[i,53:106] > threshold)
    exceeding_2014.append(temp)
    temp = sum(data_with_demo.iloc[i,106:159] > threshold)
    exceeding_2015.append(temp)
    temp = sum(data_with_demo.iloc[i,159:212] > threshold)
    exceeding_2016.append(temp)
    
    if ((data_with_demo[data_with_demo > threshold].iloc[i,0:53]).isna().sum()) < 53:
        intensity_2013.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,0:53] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2013.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,53:106]).isna().sum()) < 53:
        intensity_2014.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,53:106] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2014.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,106:159]).isna().sum()) < 53:
        intensity_2015.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,106:159] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2015.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,159:212]).isna().sum()) < 53:
        intensity_2016.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,159:212] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2016.append(0)
    
df_2013 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2013['Year'] = 2013
df_2013['frequency_NO2'] = exceeding_2013
df_2013['exposure_NO2'] = intensity_2013
df_2013['intensity_NO2'] = df_2013['frequency_NO2'] * df_2013['exposure_NO2']

df_2014 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2014['Year'] = 2014
df_2014['frequency_NO2'] = exceeding_2014
df_2014['exposure_NO2'] = intensity_2014
df_2014['intensity_NO2'] = df_2014['frequency_NO2'] * df_2014['exposure_NO2']

df_2015 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2015['Year'] = 2015
df_2015['frequency_NO2'] = exceeding_2015
df_2015['exposure_NO2'] = intensity_2015
df_2015['intensity_NO2'] = df_2015['frequency_NO2'] * df_2015['exposure_NO2']

df_2016 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2016['Year'] = 2016
df_2016['frequency_NO2'] = exceeding_2016
df_2016['exposure_NO2'] = intensity_2016
df_2016['intensity_NO2'] = df_2016['frequency_NO2'] * df_2016['exposure_NO2']

final_dataset = pd.concat([df_2013, df_2014, df_2015, df_2016], ignore_index=True)

In [24]:
final_dataset = final_dataset.round(3)
final_dataset

         area_associata  Year  frequency_NO2  exposure_NO2  intensity_NO2
0         ABBIATEGRASSO  2013             13         0.158          2.054
1             ALBAIRATE  2013              3         0.222          0.665
2              ARCONATE  2013              0         0.000          0.000
3                 ARESE  2013              8         0.186          1.487
4                ARLUNO  2013              6         0.187          1.120
..                  ...   ...            ...           ...            ...
555       VILLA CORTESE  2016              0         0.000          0.000
556           VIMODRONE  2016              7         0.092          0.646
557            VITTUONE  2016              1         0.128          0.128
558  VIZZOLO PREDABISSI  2016              0         0.000          0.000
559  ZIBIDO SAN GIACOMO  2016              1         0.171          0.171

[560 rows x 5 columns]

In [25]:
final_dataset.to_csv('Final_datasets_pollution/Final_dataset_NO2.csv', index=False)

### Synthetic data

In [26]:
# The goal for 2030 is to halve the NO2 emissions
synthetic_data = data_checkpoint/2

In [27]:
exceeding_2013_s = []
exceeding_2014_s = []
exceeding_2015_s = []
exceeding_2016_s = []
intensity_2013_s = []
intensity_2014_s = []
intensity_2015_s = []
intensity_2016_s = []

for i in range(len(synthetic_data)):
    temp = sum(synthetic_data.iloc[i,0:53] > threshold)
    exceeding_2013_s.append(temp)
    temp = sum(synthetic_data.iloc[i,53:106] > threshold)
    exceeding_2014_s.append(temp)
    temp = sum(synthetic_data.iloc[i,106:159] > threshold)
    exceeding_2015_s.append(temp)
    temp = sum(synthetic_data.iloc[i,159:212] > threshold)
    exceeding_2016_s.append(temp)
    
    if ((synthetic_data[synthetic_data > threshold].iloc[i,0:53]).isna().sum()) < 53:
        intensity_2013_s.append(np.quantile(((synthetic_data[synthetic_data > threshold].iloc[i,0:53] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2013_s.append(0)
    if ((synthetic_data[synthetic_data > threshold].iloc[i,53:106]).isna().sum()) < 53:
        intensity_2014_s.append(np.quantile(((synthetic_data[synthetic_data > threshold].iloc[i,53:106] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2014_s.append(0)
    if ((synthetic_data[synthetic_data > threshold].iloc[i,106:159]).isna().sum()) < 53:
        intensity_2015_s.append(np.quantile(((synthetic_data[synthetic_data > threshold].iloc[i,106:159] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2015_s.append(0)
    if ((synthetic_data[synthetic_data > threshold].iloc[i,159:212]).isna().sum()) < 53:
        intensity_2016_s.append(np.quantile(((synthetic_data[synthetic_data > threshold].iloc[i,159:212] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2016_s.append(0)
    
df_2013_s = pd.DataFrame(data=synthetic_data.index, columns=['area_associata'])
df_2013_s['Year'] = 2013
df_2013_s['frequency_NO2'] = exceeding_2013_s
df_2013_s['exposure_NO2'] = intensity_2013_s
df_2013_s['intensity_NO2'] = df_2013_s['frequency_NO2'] * df_2013_s['exposure_NO2']

df_2014_s = pd.DataFrame(data=synthetic_data.index, columns=['area_associata'])
df_2014_s['Year'] = 2014
df_2014_s['frequency_NO2'] = exceeding_2014_s
df_2014_s['exposure_NO2'] = intensity_2014_s
df_2014_s['intensity_NO2'] = df_2014_s['frequency_NO2'] * df_2014_s['exposure_NO2']

df_2015_s = pd.DataFrame(data=synthetic_data.index, columns=['area_associata'])
df_2015_s['Year'] = 2015
df_2015_s['frequency_NO2'] = exceeding_2015_s
df_2015_s['exposure_NO2'] = intensity_2015_s
df_2015_s['intensity_NO2'] = df_2015_s['frequency_NO2'] * df_2015_s['exposure_NO2']

df_2016_s = pd.DataFrame(data=synthetic_data.index, columns=['area_associata'])
df_2016_s['Year'] = 2016
df_2016_s['frequency_NO2'] = exceeding_2016_s
df_2016_s['exposure_NO2'] = intensity_2016_s
df_2016_s['intensity_NO2'] = df_2016_s['frequency_NO2'] * df_2016_s['exposure_NO2']

final_dataset_s = pd.concat([df_2013_s, df_2014_s, df_2015_s, df_2016_s], ignore_index=True)

In [28]:
final_dataset_s = final_dataset_s.round(3)

In [29]:
final_dataset_s.to_csv('Synthetic_data_pollution/Synthetic_dataset_NO2.csv', index=False)