# Demographic data

In [1]:
import pandas as pd
import numpy as np

demographic_data = pd.read_csv('C://Users/alber/Downloads/LMB0A_population.csv')
demographic_data

       LMB0A_IDcu  POP_2015  POP_2016  POP_2017  POP_2018  POP_2019  POP_2020
0            9920      4132      4132      4132      4132      4132      4148
1           12738      2195      2195      2195      2195      2195      2173
2            9475      2979      2979      2979      2979      2979      2972
3           15102       481       481       481       481       481       475
4           10131      1958      1958      1958      1958      1958      1956
...           ...       ...       ...       ...       ...       ...       ...
21938       10747         1         1         1         1         1         1
21939       13785         1         1         1         1         1         1
21940       14013         0         0         0         0         0         0
21941       15135         2         2         2         2         2         2
21942       11839         3         3         3         3         3         3

[21943 rows x 7 columns]

In [2]:
demographic_data[['POP_2013', 'POP_2014']] = np.nan
data_to_interpolate = demographic_data[['POP_2013', 'POP_2014', 'POP_2015', 'POP_2016', 'POP_2017', 'POP_2018',
                                    'POP_2019', 'POP_2020']]

In [3]:
for i in range(len(data_to_interpolate)):
    temp = data_to_interpolate.iloc[i,:].interpolate(method='linear', limit_direction='both')
    data_to_interpolate.iloc[i,0] = temp[0]
    data_to_interpolate.iloc[i,1] = temp[1]
    
# data_to_interpolate['POP_2013'] = data_to_interpolate['POP_2013'].astype('int64')
# data_to_interpolate['POP_2014'] = data_to_interpolate['POP_2014'].astype('int64')

In [4]:
data_to_interpolate

,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020
0,4132.0,4132.0,4132,4132,4132,4132,4132,4148
1,2195.0,2195.0,2195,2195,2195,2195,2195,2173
2,2979.0,2979.0,2979,2979,2979,2979,2979,2972
3,481.0,481.0,481,481,481,481,481,475
4,1958.0,1958.0,1958,1958,1958,1958,1958,1956
...,...,...,...,...,...,...,...,...
21938,1.0,1.0,1,1,1,1,1,1
21939,1.0,1.0,1,1,1,1,1,1
21940,0.0,0.0,0,0,0,0,0,0
21941,2.0,2.0,2,2,2,2,2,2
21942,3.0,3.0,3,3,3,3,3,3

In [5]:
demographic_data = pd.concat([demographic_data['LMB0A_IDcu'], data_to_interpolate], axis=1)
demographic_data

,LMB0A_IDcu,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020
0,9920,4132.0,4132.0,4132,4132,4132,4132,4132,4148
1,12738,2195.0,2195.0,2195,2195,2195,2195,2195,2173
2,9475,2979.0,2979.0,2979,2979,2979,2979,2979,2972
3,15102,481.0,481.0,481,481,481,481,481,475
4,10131,1958.0,1958.0,1958,1958,1958,1958,1958,1956
...,...,...,...,...,...,...,...,...,...
21938,10747,1.0,1.0,1,1,1,1,1,1
21939,13785,1.0,1.0,1,1,1,1,1,1
21940,14013,0.0,0.0,0,0,0,0,0,0
21941,15135,2.0,2.0,2,2,2,2,2,2
21942,11839,3.0,3.0,3,3,3,3,3,3

# Environmental data

In [6]:
data = pd.read_csv('C://Users/alber/Downloads/monossido_di_carbonio.csv')
ids = pd.read_excel('C://Users/alber/Downloads/relation_exagon_area_final.xlsx')

In [7]:
ids.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
data

,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,4045,1.148602,0.891921,1.003606,1.157800,0.896151,0.659856,1.126522,0.910801,0.968656,...,0.755373,0.766756,0.927205,1.029443,0.838999,1.107386,1.307210,1.142162,1.061013,1.104740
1,4046,1.126193,0.869671,0.985108,1.141486,0.891905,0.653921,1.119019,0.904098,0.965967,...,0.744619,0.753925,0.908787,1.010762,0.820123,1.094636,1.296595,1.127331,1.054414,1.097054
2,4261,1.179952,0.927205,1.033143,1.185104,0.895695,0.664262,1.132165,0.919504,0.966159,...,0.772844,0.787330,0.957940,1.063589,0.873767,1.130011,1.328678,1.169071,1.065299,1.110011
3,4262,1.148413,0.894537,1.005953,1.160683,0.891772,0.657214,1.123242,0.910350,0.964371,...,0.756976,0.768500,0.930519,1.034816,0.844535,1.110432,1.311535,1.146176,1.057604,1.100914
4,4263,1.123243,0.868833,0.984474,1.141592,0.888139,0.651198,1.115570,0.902869,0.962443,...,0.744435,0.753537,0.908841,1.012300,0.821862,1.095443,1.298645,1.128607,1.051104,1.093292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,20616,1.330132,1.132081,1.311722,1.362148,1.403418,1.213541,1.590727,0.758064,0.850621,...,0.663421,0.658660,0.939567,0.981931,0.960400,1.346177,1.690230,1.749557,1.768114,1.807307
2012,20617,1.311567,1.108214,1.283567,1.341351,1.379501,1.190629,1.578561,0.783552,0.883428,...,0.662565,0.656588,0.931130,0.973627,0.948438,1.329201,1.662501,1.718806,1.739287,1.764938
2013,20618,1.276904,1.069214,1.239042,1.306762,1.341700,1.156288,1.560379,0.819112,0.932739,...,0.656368,0.649333,0.916143,0.958223,0.928952,1.302981,1.620699,1.674597,1.701260,1.704228
2014,20619,1.234089,1.023735,1.188607,1.266857,1.299457,1.119042,1.541091,0.857076,0.986548,...,0.646455,0.638463,0.897545,0.939306,0.906110,1.272950,1.574461,1.626825,1.661418,1.638143
2015,20834,1.310650,1.101984,1.275231,1.336906,1.372702,1.182431,1.574385,0.795760,0.895262,...,0.666762,0.659498,0.929850,0.973240,0.945259,1.323285,1.652310,1.705478,1.723189,1.746092

In [9]:
ids

      LMB0A_IDcu  area_associata
0           4045          NOSATE
1           4046          NOSATE
2           4262          NOSATE
3           4263          NOSATE
4           4264          NOSATE
...          ...             ...
1828       20398  CASSANO D`ADDA
1829       20399  CASSANO D`ADDA
1830       20400  CASSANO D`ADDA
1831       20617  CASSANO D`ADDA
1832       20618  CASSANO D`ADDA

[1833 rows x 2 columns]

In [10]:
data = pd.merge(ids, data, left_on="LMB0A_IDcu", right_on='IdSensore')
data

,LMB0A_IDcu,area_associata,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,4045,NOSATE,4045,1.148602,0.891921,1.003606,1.157800,0.896151,0.659856,1.126522,...,0.755373,0.766756,0.927205,1.029443,0.838999,1.107386,1.307210,1.142162,1.061013,1.104740
1,4046,NOSATE,4046,1.126193,0.869671,0.985108,1.141486,0.891905,0.653921,1.119019,...,0.744619,0.753925,0.908787,1.010762,0.820123,1.094636,1.296595,1.127331,1.054414,1.097054
2,4262,NOSATE,4262,1.148413,0.894537,1.005953,1.160683,0.891772,0.657214,1.123242,...,0.756976,0.768500,0.930519,1.034816,0.844535,1.110432,1.311535,1.146176,1.057604,1.100914
3,4263,NOSATE,4263,1.123243,0.868833,0.984474,1.141592,0.888139,0.651198,1.115570,...,0.744435,0.753537,0.908841,1.012300,0.821862,1.095443,1.298645,1.128607,1.051104,1.093292
4,4264,NOSATE,4264,1.091057,0.836666,0.957500,1.117935,0.882484,0.642807,1.104803,...,0.728718,0.734661,0.881706,0.984573,0.794205,1.077343,1.283551,1.107407,1.042062,1.082750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,20398,1.341666,1.150986,1.334453,1.377464,1.422214,1.232913,1.600738,...,0.660608,0.657737,0.945813,0.987129,0.970044,1.360995,1.714203,1.777882,1.798046,1.847051
1829,20399,CASSANO D`ADDA,20399,1.312891,1.117306,1.296037,1.348193,1.389940,1.203095,1.585123,...,0.656421,0.652223,0.932804,0.974233,0.953019,1.337707,1.677621,1.738456,1.762554,1.792442
1830,20400,CASSANO D`ADDA,20400,1.258454,1.055031,1.225609,1.294175,1.330959,1.149182,1.557107,...,0.647423,0.640985,0.908398,0.950030,0.921617,1.295058,1.611027,1.667298,1.699241,1.693775
1831,20617,CASSANO D`ADDA,20617,1.311567,1.108214,1.283567,1.341351,1.379501,1.190629,1.578561,...,0.662565,0.656588,0.931130,0.973627,0.948438,1.329201,1.662501,1.718806,1.739287,1.764938
1832,20618,CASSANO D`ADDA,20618,1.276904,1.069214,1.239042,1.306762,1.341700,1.156288,1.560379,...,0.656368,0.649333,0.916143,0.958223,0.928952,1.302981,1.620699,1.674597,1.701260,1.704228

In [11]:
new_demo = demographic_data.iloc[:, :5]
data_with_demo = pd.merge(data, new_demo, on="LMB0A_IDcu", how='left')

In [12]:
pd.set_option('display.max_rows', 20)
data_with_demo

,LMB0A_IDcu,area_associata,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,4045,1.148602,0.891921,1.003606,1.157800,0.896151,0.659856,1.126522,...,0.838999,1.107386,1.307210,1.142162,1.061013,1.104740,NaN,NaN,NaN,NaN
1,4046,NOSATE,4046,1.126193,0.869671,0.985108,1.141486,0.891905,0.653921,1.119019,...,0.820123,1.094636,1.296595,1.127331,1.054414,1.097054,NaN,NaN,NaN,NaN
2,4262,NOSATE,4262,1.148413,0.894537,1.005953,1.160683,0.891772,0.657214,1.123242,...,0.844535,1.110432,1.311535,1.146176,1.057604,1.100914,16.0,16.0,16.0,16.0
3,4263,NOSATE,4263,1.123243,0.868833,0.984474,1.141592,0.888139,0.651198,1.115570,...,0.821862,1.095443,1.298645,1.128607,1.051104,1.093292,0.0,0.0,0.0,0.0
4,4264,NOSATE,4264,1.091057,0.836666,0.957500,1.117935,0.882484,0.642807,1.104803,...,0.794205,1.077343,1.283551,1.107407,1.042062,1.082750,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,20398,1.341666,1.150986,1.334453,1.377464,1.422214,1.232913,1.600738,...,0.970044,1.360995,1.714203,1.777882,1.798046,1.847051,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,20399,1.312891,1.117306,1.296037,1.348193,1.389940,1.203095,1.585123,...,0.953019,1.337707,1.677621,1.738456,1.762554,1.792442,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,20400,1.258454,1.055031,1.225609,1.294175,1.330959,1.149182,1.557107,...,0.921617,1.295058,1.611027,1.667298,1.699241,1.693775,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,20617,1.311567,1.108214,1.283567,1.341351,1.379501,1.190629,1.578561,...,0.948438,1.329201,1.662501,1.718806,1.739287,1.764938,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,20618,1.276904,1.069214,1.239042,1.306762,1.341700,1.156288,1.560379,...,0.928952,1.302981,1.620699,1.674597,1.701260,1.704228,26.0,26.0,26.0,26.0

In [13]:
data_with_demo.replace(np.nan, 0, inplace=True)
data_with_demo

,LMB0A_IDcu,area_associata,IdSensore,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,4045,1.148602,0.891921,1.003606,1.157800,0.896151,0.659856,1.126522,...,0.838999,1.107386,1.307210,1.142162,1.061013,1.104740,0.0,0.0,0.0,0.0
1,4046,NOSATE,4046,1.126193,0.869671,0.985108,1.141486,0.891905,0.653921,1.119019,...,0.820123,1.094636,1.296595,1.127331,1.054414,1.097054,0.0,0.0,0.0,0.0
2,4262,NOSATE,4262,1.148413,0.894537,1.005953,1.160683,0.891772,0.657214,1.123242,...,0.844535,1.110432,1.311535,1.146176,1.057604,1.100914,16.0,16.0,16.0,16.0
3,4263,NOSATE,4263,1.123243,0.868833,0.984474,1.141592,0.888139,0.651198,1.115570,...,0.821862,1.095443,1.298645,1.128607,1.051104,1.093292,0.0,0.0,0.0,0.0
4,4264,NOSATE,4264,1.091057,0.836666,0.957500,1.117935,0.882484,0.642807,1.104803,...,0.794205,1.077343,1.283551,1.107407,1.042062,1.082750,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,20398,1.341666,1.150986,1.334453,1.377464,1.422214,1.232913,1.600738,...,0.970044,1.360995,1.714203,1.777882,1.798046,1.847051,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,20399,1.312891,1.117306,1.296037,1.348193,1.389940,1.203095,1.585123,...,0.953019,1.337707,1.677621,1.738456,1.762554,1.792442,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,20400,1.258454,1.055031,1.225609,1.294175,1.330959,1.149182,1.557107,...,0.921617,1.295058,1.611027,1.667298,1.699241,1.693775,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,20617,1.311567,1.108214,1.283567,1.341351,1.379501,1.190629,1.578561,...,0.948438,1.329201,1.662501,1.718806,1.739287,1.764938,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,20618,1.276904,1.069214,1.239042,1.306762,1.341700,1.156288,1.560379,...,0.928952,1.302981,1.620699,1.674597,1.701260,1.704228,26.0,26.0,26.0,26.0

In [14]:
data_with_demo.drop(['IdSensore'], axis=1, inplace=True)

In [15]:
for i in range(len(data_with_demo)):
    for j in range(2, 55):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2013'][i]
    for j in range(55, 108):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2014'][i]
    for j in range(108, 161):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2015'][i]
    for j in range(161, 214):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2016'][i]
        
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
1,4046,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,4262,NOSATE,18.374608,14.312590,16.095245,18.570935,14.268348,10.515418,17.971879,14.565596,...,13.512555,17.766907,20.984558,18.338817,16.921661,17.614621,16.0,16.0,16.0,16.0
3,4263,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,4264,NOSATE,16.365853,12.549997,14.362501,16.769023,13.237254,9.642102,16.572044,13.395966,...,11.913069,16.160146,19.253262,16.611111,15.630932,16.241245,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,346.149780,296.954301,344.288888,355.385626,366.931328,318.091537,412.990382,189.288289,...,250.271249,351.136743,442.264390,458.693530,463.895754,476.539236,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,139.166463,118.434468,137.379927,142.908442,147.333616,127.528094,168.023087,81.164784,...,101.019999,141.796956,177.827858,184.276370,186.830709,189.998885,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,1218.183572,1021.270314,1186.389606,1252.761026,1288.368141,1112.408145,1507.279615,797.073060,...,892.125645,1253.616004,1559.474337,1613.944485,1644.865668,1639.573762,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,107.548493,90.873509,105.252499,109.990798,113.119121,97.631554,129.441994,64.251254,...,77.771949,108.994504,136.325051,140.942090,142.621574,144.724879,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,33.199494,27.799577,32.215093,33.975823,34.884191,30.063494,40.569849,21.296901,...,24.152745,33.877511,42.138166,43.539532,44.232755,44.309934,26.0,26.0,26.0,26.0

In [16]:
data_with_demo.drop(['LMB0A_IDcu'], axis=1, inplace=True)
data_with_demo = data_with_demo.groupby(by=['area_associata']).sum()
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,54318.905891,42016.496698,44523.064241,46005.243354,37393.379635,29662.421692,48174.908885,36523.208322,38765.218175,32979.116198,...,34132.955279,38683.350429,41774.707244,40174.718186,42670.314053,45384.110612,32887.0,32887.0,32887.0,32887.0
ALBAIRATE,7438.922598,5773.117307,6122.199832,6290.252817,5080.776337,4028.690504,6575.089855,4968.324896,5278.260421,4487.907146,...,4656.410645,5235.208274,5604.814198,5398.131959,5773.615259,6183.395396,4458.0,4458.0,4458.0,4458.0
ARCONATE,7730.018363,7147.006450,7837.450875,9101.146578,4231.667206,3479.933993,6405.383189,6153.664873,4713.585729,4377.375629,...,8177.519184,8781.910688,10830.874290,9621.030269,5838.569145,5810.435594,6864.0,6864.0,6864.0,6864.0
ARESE,31639.304958,26587.689929,26713.548948,28398.950482,20919.615469,14011.416834,23756.348820,17731.175430,23556.915478,18678.165866,...,19829.031671,26211.487389,22903.089444,21806.059671,22691.500910,28229.663220,17595.0,17595.0,17595.0,17595.0
ARLUNO,19052.325756,15592.061165,16490.142063,17272.961886,12607.600070,9429.282595,15891.965288,12229.896456,13599.022486,11424.200434,...,12762.649698,14942.130132,15227.089825,14210.868982,14129.362987,16022.635806,11705.0,11705.0,11705.0,11705.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,8401.676332,7322.487861,7896.475507,8912.569815,5118.782937,4011.297631,7045.275063,6192.581978,5581.362060,4961.971491,...,7469.179918,8404.128763,9863.888992,8877.003417,6474.054174,6743.012076,6599.0,6599.0,6599.0,6599.0
VIMODRONE,40200.398998,26274.121743,26382.808434,29018.712981,27824.597480,18595.623688,28667.282543,23490.857022,29627.183232,28814.839986,...,22047.349386,31176.055873,39294.707318,33719.356462,33752.294784,33234.249422,22524.0,22524.0,22524.0,22524.0
VITTUONE,17172.883670,13862.799420,14642.017483,15193.614354,11457.117958,8670.495041,14490.073591,11016.023785,12257.902119,10285.289318,...,11150.538545,12954.155087,13167.944479,12431.249487,12811.880360,14429.010452,10316.0,10316.0,10316.0,10316.0
VIZZOLO PREDABISSI,5648.048291,5109.296997,5879.404347,6738.797816,6434.787570,6058.746015,8037.301498,7301.446554,7659.764731,3434.144112,...,7169.897028,8201.546483,5462.278141,5897.544931,6456.639371,6648.883963,4319.0,4319.0,4319.0,4319.0
ZIBIDO SAN GIACOMO,15401.899239,11325.557254,10910.786926,12084.712867,11059.896810,8784.659985,12977.036630,9750.951788,10769.494977,9662.750070,...,8188.289671,11536.141225,12690.084517,12605.244835,12761.673930,12922.754317,8520.0,8520.0,8520.0,8520.0

In [17]:
for i in range(len(data_with_demo)):
    for j in range(0, 53):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2013'][i]
    for j in range(53, 106):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2014'][i]
    for j in range(106, 159):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2015'][i]
    for j in range(159, 212):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2016'][i]

data_with_demo.drop(['POP_2013', 'POP_2014', 'POP_2015', 'POP_2016'], axis=1, inplace=True)
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,1.651683,1.277602,1.353820,1.398888,1.137026,0.901950,1.464862,1.110567,1.178740,1.002801,...,0.951416,1.032903,1.274101,1.302889,1.037886,1.176251,1.270250,1.221599,1.297483,1.380002
ALBAIRATE,1.668668,1.295002,1.373306,1.411003,1.139699,0.903699,1.474897,1.114474,1.183997,1.006709,...,0.955041,1.042112,1.287153,1.316575,1.044507,1.174340,1.257249,1.210886,1.295113,1.387034
ARCONATE,1.126168,1.041231,1.141820,1.325925,0.616502,0.506983,0.933185,0.896513,0.686711,0.637730,...,0.867349,0.889178,1.154091,1.383790,1.191364,1.279416,1.577925,1.401665,0.850607,0.846509
ARESE,1.798199,1.511093,1.518247,1.614035,1.188952,0.796329,1.350176,1.007739,1.338841,1.061561,...,0.856817,0.923829,1.136880,1.219829,1.126970,1.489712,1.301682,1.239333,1.289656,1.604414
ARLUNO,1.627708,1.332086,1.408812,1.475691,1.077112,0.805577,1.357707,1.044844,1.161813,0.976010,...,0.918168,0.993349,1.229971,1.305931,1.090359,1.276560,1.300905,1.214085,1.207122,1.368871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,1.273174,1.109636,1.196617,1.350594,0.775691,0.607864,1.067628,0.938412,0.845789,0.751928,...,0.872292,0.904169,1.150396,1.322819,1.131865,1.273546,1.494755,1.345204,0.981066,1.021823
VIMODRONE,1.784781,1.166494,1.171320,1.288346,1.235331,0.825592,1.272744,1.042926,1.315361,1.279295,...,0.853372,0.848883,0.994223,0.999301,0.978838,1.384126,1.744571,1.497041,1.498504,1.475504
VITTUONE,1.664684,1.343815,1.419350,1.472820,1.110616,0.840490,1.404621,1.067858,1.188242,0.997023,...,0.929812,1.011932,1.251313,1.311435,1.080897,1.255734,1.276458,1.205046,1.241943,1.398702
VIZZOLO PREDABISSI,1.307721,1.182981,1.361288,1.560268,1.489879,1.402812,1.860917,1.690541,1.773504,0.795125,...,1.073035,1.171947,1.461146,1.614723,1.660083,1.898946,1.264709,1.365489,1.494938,1.539450
ZIBIDO SAN GIACOMO,1.807735,1.329291,1.280609,1.418394,1.298110,1.031063,1.523126,1.144478,1.264025,1.134126,...,0.989154,0.994508,1.209195,1.097692,0.961067,1.354007,1.489447,1.479489,1.497849,1.516755

In [18]:
data_with_demo.drop(['SAN COLOMBANO AL LAMBRO'], axis=0, inplace=True)
data_with_demo.shape

(140, 212)

In [19]:
from scipy.stats import kstest

p_values = []

for i in range(len(data_with_demo)):
    p_values.append(kstest(data_with_demo.iloc[i,0:53], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,53:106], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,106:159], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,159:212], 'norm').pvalue)
    
len(p_values)

560

In [20]:
print(sum(i > 0.05 for i in p_values)  / len(p_values))

0.0

In [21]:
from scipy.stats import kruskal

p_values_kruskal = []

for i in range(len(data_with_demo)):
    p_values_kruskal.append(kruskal(data_with_demo.iloc[i,0:53], data_with_demo.iloc[i,53:106], data_with_demo.iloc[i,106:159], data_with_demo.iloc[i,159:212]).pvalue)
    
len(p_values_kruskal)

140

In [22]:
print(sum(i > 0.05 for i in p_values_kruskal) / len(p_values_kruskal))   # High percentage!

0.8857142857142857

In [23]:
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,1.651683,1.277602,1.353820,1.398888,1.137026,0.901950,1.464862,1.110567,1.178740,1.002801,...,0.951416,1.032903,1.274101,1.302889,1.037886,1.176251,1.270250,1.221599,1.297483,1.380002
ALBAIRATE,1.668668,1.295002,1.373306,1.411003,1.139699,0.903699,1.474897,1.114474,1.183997,1.006709,...,0.955041,1.042112,1.287153,1.316575,1.044507,1.174340,1.257249,1.210886,1.295113,1.387034
ARCONATE,1.126168,1.041231,1.141820,1.325925,0.616502,0.506983,0.933185,0.896513,0.686711,0.637730,...,0.867349,0.889178,1.154091,1.383790,1.191364,1.279416,1.577925,1.401665,0.850607,0.846509
ARESE,1.798199,1.511093,1.518247,1.614035,1.188952,0.796329,1.350176,1.007739,1.338841,1.061561,...,0.856817,0.923829,1.136880,1.219829,1.126970,1.489712,1.301682,1.239333,1.289656,1.604414
ARLUNO,1.627708,1.332086,1.408812,1.475691,1.077112,0.805577,1.357707,1.044844,1.161813,0.976010,...,0.918168,0.993349,1.229971,1.305931,1.090359,1.276560,1.300905,1.214085,1.207122,1.368871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,1.273174,1.109636,1.196617,1.350594,0.775691,0.607864,1.067628,0.938412,0.845789,0.751928,...,0.872292,0.904169,1.150396,1.322819,1.131865,1.273546,1.494755,1.345204,0.981066,1.021823
VIMODRONE,1.784781,1.166494,1.171320,1.288346,1.235331,0.825592,1.272744,1.042926,1.315361,1.279295,...,0.853372,0.848883,0.994223,0.999301,0.978838,1.384126,1.744571,1.497041,1.498504,1.475504
VITTUONE,1.664684,1.343815,1.419350,1.472820,1.110616,0.840490,1.404621,1.067858,1.188242,0.997023,...,0.929812,1.011932,1.251313,1.311435,1.080897,1.255734,1.276458,1.205046,1.241943,1.398702
VIZZOLO PREDABISSI,1.307721,1.182981,1.361288,1.560268,1.489879,1.402812,1.860917,1.690541,1.773504,0.795125,...,1.073035,1.171947,1.461146,1.614723,1.660083,1.898946,1.264709,1.365489,1.494938,1.539450
ZIBIDO SAN GIACOMO,1.807735,1.329291,1.280609,1.418394,1.298110,1.031063,1.523126,1.144478,1.264025,1.134126,...,0.989154,0.994508,1.209195,1.097692,0.961067,1.354007,1.489447,1.479489,1.497849,1.516755

In [24]:
threshold = 10 * 0.5 * (4/7)

exceeding_2013 = []
exceeding_2014 = []
exceeding_2015 = []
exceeding_2016 = []
intensity_2013 = []
intensity_2014 = []
intensity_2015 = []
intensity_2016 = []

for i in range(len(data_with_demo)):
    temp = sum(data_with_demo.iloc[i,0:53] > threshold)
    exceeding_2013.append(temp)
    temp = sum(data_with_demo.iloc[i,53:106] > threshold)
    exceeding_2014.append(temp)
    temp = sum(data_with_demo.iloc[i,106:159] > threshold)
    exceeding_2015.append(temp)
    temp = sum(data_with_demo.iloc[i,159:212] > threshold)
    exceeding_2016.append(temp)
    
    if ((data_with_demo[data_with_demo > threshold].iloc[i,0:53]).isna().sum()) < 53:
        intensity_2013.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,0:53] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2013.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,53:106]).isna().sum()) < 53:
        intensity_2014.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,53:106] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2014.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,106:159]).isna().sum()) < 53:
        intensity_2015.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,106:159] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2015.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,159:212]).isna().sum()) < 53:
        intensity_2016.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,159:212] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2016.append(0)

df_2013 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2013['Year'] = 2013
df_2013['frequency_CO'] = exceeding_2013
df_2013['exposure_CO'] = intensity_2013
df_2013['intensity_CO'] = df_2013['frequency_CO'] * df_2013['exposure_CO']

df_2014 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2014['Year'] = 2014
df_2014['frequency_CO'] = exceeding_2014
df_2014['exposure_CO'] = intensity_2014
df_2014['intensity_CO'] = df_2014['frequency_CO'] * df_2014['exposure_CO']

df_2015 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2015['Year'] = 2015
df_2015['frequency_CO'] = exceeding_2015
df_2015['exposure_CO'] = intensity_2015
df_2015['intensity_CO'] = df_2015['frequency_CO'] * df_2015['exposure_CO']

df_2016 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2016['Year'] = 2016
df_2016['frequency_CO'] = exceeding_2016
df_2016['exposure_CO'] = intensity_2016
df_2016['intensity_CO'] = df_2016['frequency_CO'] * df_2016['exposure_CO']

final_dataset = pd.concat([df_2013, df_2014, df_2015, df_2016], ignore_index=True)

In [25]:
final_dataset = final_dataset.round(3)
final_dataset

         area_associata  Year  frequency_CO  exposure_CO  intensity_CO
0         ABBIATEGRASSO  2013             0          0.0           0.0
1             ALBAIRATE  2013             0          0.0           0.0
2              ARCONATE  2013             0          0.0           0.0
3                 ARESE  2013             0          0.0           0.0
4                ARLUNO  2013             0          0.0           0.0
..                  ...   ...           ...          ...           ...
555       VILLA CORTESE  2016             0          0.0           0.0
556           VIMODRONE  2016             0          0.0           0.0
557            VITTUONE  2016             0          0.0           0.0
558  VIZZOLO PREDABISSI  2016             0          0.0           0.0
559  ZIBIDO SAN GIACOMO  2016             0          0.0           0.0

[560 rows x 5 columns]

In [26]:
final_dataset.to_csv('Final_datasets_pollution/Final_dataset_CO.csv', index=False)