# Demographic data

In [1]:
import pandas as pd
import numpy as np

demographic_data = pd.read_csv('C://Users/alber/Downloads/LMB0A_population.csv')
demographic_data

       LMB0A_IDcu  POP_2015  POP_2016  POP_2017  POP_2018  POP_2019  POP_2020
0            9920      4132      4132      4132      4132      4132      4148
1           12738      2195      2195      2195      2195      2195      2173
2            9475      2979      2979      2979      2979      2979      2972
3           15102       481       481       481       481       481       475
4           10131      1958      1958      1958      1958      1958      1956
...           ...       ...       ...       ...       ...       ...       ...
21938       10747         1         1         1         1         1         1
21939       13785         1         1         1         1         1         1
21940       14013         0         0         0         0         0         0
21941       15135         2         2         2         2         2         2
21942       11839         3         3         3         3         3         3

[21943 rows x 7 columns]

In [2]:
demographic_data[['POP_2013', 'POP_2014']] = np.nan
data_to_interpolate = demographic_data[['POP_2013', 'POP_2014', 'POP_2015', 'POP_2016', 'POP_2017', 'POP_2018',
                                    'POP_2019', 'POP_2020']]

In [3]:
for i in range(len(data_to_interpolate)):
    temp = data_to_interpolate.iloc[i,:].interpolate(method='linear', limit_direction='both')
    data_to_interpolate.iloc[i,0] = temp[0]
    data_to_interpolate.iloc[i,1] = temp[1]
    
# data_to_interpolate['POP_2013'] = data_to_interpolate['POP_2013'].astype('int64')
# data_to_interpolate['POP_2014'] = data_to_interpolate['POP_2014'].astype('int64')

In [4]:
data_to_interpolate

,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020
0,4132.0,4132.0,4132,4132,4132,4132,4132,4148
1,2195.0,2195.0,2195,2195,2195,2195,2195,2173
2,2979.0,2979.0,2979,2979,2979,2979,2979,2972
3,481.0,481.0,481,481,481,481,481,475
4,1958.0,1958.0,1958,1958,1958,1958,1958,1956
...,...,...,...,...,...,...,...,...
21938,1.0,1.0,1,1,1,1,1,1
21939,1.0,1.0,1,1,1,1,1,1
21940,0.0,0.0,0,0,0,0,0,0
21941,2.0,2.0,2,2,2,2,2,2
21942,3.0,3.0,3,3,3,3,3,3

In [5]:
demographic_data = pd.concat([demographic_data['LMB0A_IDcu'], data_to_interpolate], axis=1)
demographic_data

,LMB0A_IDcu,POP_2013,POP_2014,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020
0,9920,4132.0,4132.0,4132,4132,4132,4132,4132,4148
1,12738,2195.0,2195.0,2195,2195,2195,2195,2195,2173
2,9475,2979.0,2979.0,2979,2979,2979,2979,2979,2972
3,15102,481.0,481.0,481,481,481,481,481,475
4,10131,1958.0,1958.0,1958,1958,1958,1958,1958,1956
...,...,...,...,...,...,...,...,...,...
21938,10747,1.0,1.0,1,1,1,1,1,1
21939,13785,1.0,1.0,1,1,1,1,1,1
21940,14013,0.0,0.0,0,0,0,0,0,0
21941,15135,2.0,2.0,2,2,2,2,2,2
21942,11839,3.0,3.0,3,3,3,3,3,3

# Environmental data

In [6]:
data = pd.read_csv('C://Users/alber/Downloads/ozono.csv')
ids = pd.read_excel('C://Users/alber/Downloads/relation_exagon_area_final.xlsx')

In [7]:
ids.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
data

,LMB0A_IDcu,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,4045,11.955358,10.021943,15.295186,11.392007,21.211424,34.952680,21.758930,26.037490,27.285454,...,16.020085,12.302944,12.792232,5.409877,15.879195,7.994883,5.217614,6.627257,13.358315,9.449792
1,4046,12.130396,10.182009,15.473292,11.549810,21.343327,35.148017,21.936412,26.202609,27.398789,...,16.041759,12.327195,12.826612,5.425295,15.933652,8.040203,5.245273,6.670753,13.379501,9.464423
2,4261,11.692099,9.744659,15.081161,11.103786,21.088401,34.672370,21.446944,25.844616,27.149874,...,15.971165,12.289947,12.768814,5.355464,15.839989,7.905091,5.155136,6.568716,13.368191,9.422981
3,4262,11.936743,9.976202,15.317264,11.335727,21.254788,34.951240,21.711256,26.060348,27.301189,...,16.007684,12.317707,12.809110,5.380959,15.905144,7.968624,5.193436,6.622948,13.386556,9.441647
4,4263,12.131968,10.160182,15.507659,11.519509,21.390511,35.161809,21.915251,26.236708,27.422876,...,16.033719,12.340888,12.842826,5.402606,15.960199,8.023103,5.228281,6.671391,13.405742,9.459549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,20616,8.552320,8.988725,9.068314,9.433869,12.527353,24.379125,21.368139,22.723994,24.375359,...,12.088786,9.084500,6.653983,2.044010,12.366014,5.712143,3.445457,3.817435,11.334475,6.842585
2012,20617,8.493896,8.888262,9.058525,9.443774,12.503327,24.299709,21.235975,22.508927,24.263977,...,12.138093,9.119485,6.703418,2.092738,12.385828,5.721583,3.438941,3.810858,11.323345,6.843687
2013,20618,8.426779,8.790469,9.035456,9.439429,12.451943,24.180726,21.069411,22.253852,24.105525,...,12.162114,9.123929,6.722818,2.117385,12.375858,5.706311,3.410273,3.776547,11.260026,6.807193
2014,20619,8.423840,8.785637,9.032696,9.436079,12.462899,24.173340,21.038054,22.229592,24.089586,...,12.186598,9.123149,6.745545,2.136736,12.370273,5.712214,3.417799,3.781397,11.263782,6.821184
2015,20834,8.667543,9.101517,9.137408,9.476344,12.735972,24.661772,21.610975,23.136868,24.705691,...,12.229071,9.179443,6.811013,2.161131,12.462239,5.839598,3.589260,3.978485,11.612297,7.072489

In [9]:
ids

      LMB0A_IDcu  area_associata
0           4045          NOSATE
1           4046          NOSATE
2           4262          NOSATE
3           4263          NOSATE
4           4264          NOSATE
...          ...             ...
1828       20398  CASSANO D`ADDA
1829       20399  CASSANO D`ADDA
1830       20400  CASSANO D`ADDA
1831       20617  CASSANO D`ADDA
1832       20618  CASSANO D`ADDA

[1833 rows x 2 columns]

In [10]:
data = pd.merge(ids, data, on="LMB0A_IDcu")
data

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
0,4045,NOSATE,11.955358,10.021943,15.295186,11.392007,21.211424,34.952680,21.758930,26.037490,...,16.020085,12.302944,12.792232,5.409877,15.879195,7.994883,5.217614,6.627257,13.358315,9.449792
1,4046,NOSATE,12.130396,10.182009,15.473292,11.549810,21.343327,35.148017,21.936412,26.202609,...,16.041759,12.327195,12.826612,5.425295,15.933652,8.040203,5.245273,6.670753,13.379501,9.464423
2,4262,NOSATE,11.936743,9.976202,15.317264,11.335727,21.254788,34.951240,21.711256,26.060348,...,16.007684,12.317707,12.809110,5.380959,15.905144,7.968624,5.193436,6.622948,13.386556,9.441647
3,4263,NOSATE,12.131968,10.160182,15.507659,11.519509,21.390511,35.161809,21.915251,26.236708,...,16.033719,12.340888,12.842826,5.402606,15.960199,8.023103,5.228281,6.671391,13.405742,9.459549
4,4264,NOSATE,12.385367,10.394132,15.762333,11.751350,21.577483,35.423389,22.169257,26.475573,...,16.062768,12.374071,12.890576,5.427671,16.039437,8.094536,5.274836,6.739581,13.440507,9.485083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,8.277687,8.631852,8.956679,9.399539,12.186431,23.837053,20.789793,21.738343,...,11.982484,9.029226,6.526420,1.971554,12.281194,5.554706,3.231554,3.582143,10.932939,6.523270
1829,20399,CASSANO D`ADDA,8.141436,8.431321,8.914706,9.399461,12.062637,23.601891,20.495780,21.245508,...,11.997588,9.047092,6.535511,1.996200,12.275948,5.517658,3.162511,3.507066,10.806388,6.430806
1830,20400,CASSANO D`ADDA,8.254601,8.575103,8.960297,9.411878,12.223286,23.827266,20.706428,21.636606,...,12.074923,9.073652,6.620513,2.053164,12.309176,5.594359,3.264541,3.615674,10.986613,6.586813
1831,20617,CASSANO D`ADDA,8.493896,8.888262,9.058525,9.443774,12.503327,24.299709,21.235975,22.508927,...,12.138093,9.119485,6.703418,2.092738,12.385828,5.721583,3.438941,3.810858,11.323345,6.843687
1832,20618,CASSANO D`ADDA,8.426779,8.790469,9.035456,9.439429,12.451943,24.180726,21.069411,22.253852,...,12.162114,9.123929,6.722818,2.117385,12.375858,5.706311,3.410273,3.776547,11.260026,6.807193

In [11]:
new_demo = demographic_data.iloc[:, :5]
data_with_demo = pd.merge(data, new_demo, on="LMB0A_IDcu", how='left')

In [12]:
pd.set_option('display.max_rows', 20)
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,11.955358,10.021943,15.295186,11.392007,21.211424,34.952680,21.758930,26.037490,...,15.879195,7.994883,5.217614,6.627257,13.358315,9.449792,NaN,NaN,NaN,NaN
1,4046,NOSATE,12.130396,10.182009,15.473292,11.549810,21.343327,35.148017,21.936412,26.202609,...,15.933652,8.040203,5.245273,6.670753,13.379501,9.464423,NaN,NaN,NaN,NaN
2,4262,NOSATE,11.936743,9.976202,15.317264,11.335727,21.254788,34.951240,21.711256,26.060348,...,15.905144,7.968624,5.193436,6.622948,13.386556,9.441647,16.0,16.0,16.0,16.0
3,4263,NOSATE,12.131968,10.160182,15.507659,11.519509,21.390511,35.161809,21.915251,26.236708,...,15.960199,8.023103,5.228281,6.671391,13.405742,9.459549,0.0,0.0,0.0,0.0
4,4264,NOSATE,12.385367,10.394132,15.762333,11.751350,21.577483,35.423389,22.169257,26.475573,...,16.039437,8.094536,5.274836,6.739581,13.440507,9.485083,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,8.277687,8.631852,8.956679,9.399539,12.186431,23.837053,20.789793,21.738343,...,12.281194,5.554706,3.231554,3.582143,10.932939,6.523270,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,8.141436,8.431321,8.914706,9.399461,12.062637,23.601891,20.495780,21.245508,...,12.275948,5.517658,3.162511,3.507066,10.806388,6.430806,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,8.254601,8.575103,8.960297,9.411878,12.223286,23.827266,20.706428,21.636606,...,12.309176,5.594359,3.264541,3.615674,10.986613,6.586813,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,8.493896,8.888262,9.058525,9.443774,12.503327,24.299709,21.235975,22.508927,...,12.385828,5.721583,3.438941,3.810858,11.323345,6.843687,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,8.426779,8.790469,9.035456,9.439429,12.451943,24.180726,21.069411,22.253852,...,12.375858,5.706311,3.410273,3.776547,11.260026,6.807193,26.0,26.0,26.0,26.0

In [13]:
data_with_demo.replace(np.nan, 0, inplace=True)
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,11.955358,10.021943,15.295186,11.392007,21.211424,34.952680,21.758930,26.037490,...,15.879195,7.994883,5.217614,6.627257,13.358315,9.449792,0.0,0.0,0.0,0.0
1,4046,NOSATE,12.130396,10.182009,15.473292,11.549810,21.343327,35.148017,21.936412,26.202609,...,15.933652,8.040203,5.245273,6.670753,13.379501,9.464423,0.0,0.0,0.0,0.0
2,4262,NOSATE,11.936743,9.976202,15.317264,11.335727,21.254788,34.951240,21.711256,26.060348,...,15.905144,7.968624,5.193436,6.622948,13.386556,9.441647,16.0,16.0,16.0,16.0
3,4263,NOSATE,12.131968,10.160182,15.507659,11.519509,21.390511,35.161809,21.915251,26.236708,...,15.960199,8.023103,5.228281,6.671391,13.405742,9.459549,0.0,0.0,0.0,0.0
4,4264,NOSATE,12.385367,10.394132,15.762333,11.751350,21.577483,35.423389,22.169257,26.475573,...,16.039437,8.094536,5.274836,6.739581,13.440507,9.485083,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,8.277687,8.631852,8.956679,9.399539,12.186431,23.837053,20.789793,21.738343,...,12.281194,5.554706,3.231554,3.582143,10.932939,6.523270,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,8.141436,8.431321,8.914706,9.399461,12.062637,23.601891,20.495780,21.245508,...,12.275948,5.517658,3.162511,3.507066,10.806388,6.430806,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,8.254601,8.575103,8.960297,9.411878,12.223286,23.827266,20.706428,21.636606,...,12.309176,5.594359,3.264541,3.615674,10.986613,6.586813,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,8.493896,8.888262,9.058525,9.443774,12.503327,24.299709,21.235975,22.508927,...,12.385828,5.721583,3.438941,3.810858,11.323345,6.843687,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,8.426779,8.790469,9.035456,9.439429,12.451943,24.180726,21.069411,22.253852,...,12.375858,5.706311,3.410273,3.776547,11.260026,6.807193,26.0,26.0,26.0,26.0

In [14]:
for i in range(len(data_with_demo)):
    for j in range(2, 55):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2013'][i]
    for j in range(55, 108):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2014'][i]
    for j in range(108, 161):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2015'][i]
    for j in range(161, 214):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] * data_with_demo['POP_2016'][i]
        
data_with_demo

,LMB0A_IDcu,area_associata,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
0,4045,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
1,4046,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,4262,NOSATE,190.987882,159.619232,245.076217,181.371629,340.076604,559.219845,347.380098,416.965568,...,254.482304,127.497976,83.094972,105.967162,214.184895,151.066358,16.0,16.0,16.0,16.0
3,4263,NOSATE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,4264,NOSATE,185.780506,155.911985,236.434989,176.270251,323.662238,531.350839,332.538852,397.133599,...,240.591548,121.418044,79.122542,101.093719,201.607612,142.276252,15.0,15.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20398,CASSANO D`ADDA,2135.643168,2227.017842,2310.823282,2425.080961,3144.099146,6149.959560,5363.766702,5608.492612,...,3168.548176,1433.114193,833.741010,924.192854,2820.698135,1683.003782,258.0,258.0,258.0,258.0
1829,20399,CASSANO D`ADDA,862.992241,893.720012,944.958835,996.342821,1278.639490,2501.800498,2172.552634,2252.023863,...,1301.250483,584.871706,335.226196,371.748976,1145.477096,681.665400,106.0,106.0,106.0,106.0
1830,20400,CASSANO D`ADDA,7990.453634,8300.700033,8673.567851,9110.698186,11832.141153,23064.793210,20043.822742,20944.234316,...,11915.282341,5415.339621,3160.076134,3499.972246,10635.041649,6376.035359,968.0,968.0,968.0,968.0
1831,20617,CASSANO D`ADDA,696.499452,728.837500,742.799022,774.389495,1025.272829,1992.576148,1741.349934,1845.732007,...,1015.637865,469.169829,281.993186,312.490396,928.514282,561.182350,82.0,82.0,82.0,82.0
1832,20618,CASSANO D`ADDA,219.096248,228.552204,234.921857,245.425162,323.750512,628.698867,547.804683,578.600164,...,321.772311,148.364075,88.667104,98.190212,292.760674,176.987008,26.0,26.0,26.0,26.0

In [15]:
data_with_demo.drop(['LMB0A_IDcu'], axis=1, inplace=True)
data_with_demo = data_with_demo.groupby(by=['area_associata']).sum()
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016,POP_2013,POP_2014,POP_2015,POP_2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,294558.215557,262875.562693,374934.357797,312347.997404,582343.542656,1.174445e+06,660417.397763,710187.882691,800583.389038,678346.008383,...,450899.818906,237242.205277,149774.974964,165773.295929,346035.766989,286174.427289,32887.0,32887.0,32887.0,32887.0
ALBAIRATE,36850.549265,33351.890712,48454.116473,40121.334352,76861.907367,1.603868e+05,86215.749175,93042.924277,104435.578241,89559.527158,...,58703.945869,30972.668576,19322.257809,21474.377444,46478.035143,37361.195661,4458.0,4458.0,4458.0,4458.0
ARCONATE,86083.820184,61648.350151,122692.849326,67208.458469,167616.932946,2.664948e+05,151458.739140,193677.739451,201237.979740,195658.639727,...,119490.140899,42018.893746,22005.429891,39513.267153,98346.503587,58818.235854,6864.0,6864.0,6864.0,6864.0
ARESE,105257.412110,102504.612204,148057.466059,154487.869007,320685.085270,4.900599e+05,255769.955977,233200.136497,245786.380713,188461.440649,...,268544.845731,162688.387449,121767.677470,125149.027570,285982.190941,171864.595066,17595.0,17595.0,17595.0,17595.0
ARLUNO,99645.480976,87360.194451,134533.822034,106161.994124,211910.690153,4.012103e+05,219819.505882,252970.943152,274590.787672,243823.440166,...,161656.707804,84646.014378,54777.335410,64003.537868,139081.711157,101538.758527,11705.0,11705.0,11705.0,11705.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,64042.934326,50700.624183,89222.158069,58397.823625,133401.108521,2.103904e+05,121906.211208,162665.447482,172621.803202,158824.963841,...,103453.481032,50874.241105,34290.765038,43590.571007,88342.109041,62931.991730,6599.0,6599.0,6599.0,6599.0
VIMODRONE,207668.927161,186924.278013,185069.056715,220670.134039,308532.822438,5.132305e+05,418974.183722,457538.475104,531416.176614,352797.728816,...,265127.241472,158424.995204,112555.110453,111652.255882,302874.536518,185342.553448,22524.0,22524.0,22524.0,22524.0
VITTUONE,83534.248982,74798.151016,113017.997177,91560.282066,180877.277525,3.606731e+05,192763.399682,215637.374689,236521.974933,207978.771529,...,137419.054883,72506.220188,46137.059811,52869.879040,117005.741250,87007.553720,10316.0,10316.0,10316.0,10316.0
VIZZOLO PREDABISSI,36803.094426,35077.991182,40234.009543,41672.457119,61633.154540,1.070168e+05,84795.759512,89895.223425,107164.517579,77213.772884,...,56862.946221,31044.146034,21363.424579,22312.559865,53273.964705,41371.825932,4319.0,4319.0,4319.0,4319.0
ZIBIDO SAN GIACOMO,100509.256820,88276.286962,106781.565104,100365.364295,158501.479854,2.493308e+05,202017.950316,202800.084118,257911.139432,171698.706570,...,137135.012704,75100.076355,56669.641053,52162.533681,72629.276887,93116.246414,8520.0,8520.0,8520.0,8520.0

In [16]:
for i in range(len(data_with_demo)):
    for j in range(0, 53):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2013'][i]
    for j in range(53, 106):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2014'][i]
    for j in range(106, 159):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2015'][i]
    for j in range(159, 212):
        data_with_demo.iloc[i,j] = data_with_demo.iloc[i,j] / data_with_demo['POP_2016'][i]

data_with_demo.drop(['POP_2013', 'POP_2014', 'POP_2015', 'POP_2016'], axis=1, inplace=True)
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,8.956676,7.993297,11.400686,9.497613,17.707408,35.711531,20.081412,21.594791,24.343461,20.626570,...,16.741242,11.864663,12.143912,6.112331,13.710579,7.213860,4.554230,5.040694,10.521962,8.701749
ALBAIRATE,8.266162,7.481357,10.869026,8.999851,17.241343,35.977297,19.339558,20.871001,23.426554,20.089620,...,16.297627,11.678305,11.913777,5.963400,13.168225,6.947660,4.334288,4.817043,10.425759,8.380708
ARCONATE,12.541349,8.981403,17.874832,9.791442,24.419716,38.825003,22.065667,28.216454,29.317887,28.505047,...,16.202422,13.232294,13.807749,3.578908,17.408237,6.121634,3.205919,5.756595,14.327871,8.569090
ARESE,5.982234,5.825781,8.414747,8.780214,18.225921,27.852227,14.536514,13.253773,13.969104,10.711079,...,14.957225,10.146279,12.876631,6.744694,15.262566,9.246285,6.920584,7.112761,16.253606,9.767809
ARLUNO,8.513070,7.463494,11.493705,9.069799,18.104288,34.276831,18.779966,21.612212,23.459273,20.830708,...,15.611469,11.597666,12.049926,5.682380,13.810911,7.231612,4.679824,5.468051,11.882248,8.674819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,9.704945,7.683077,13.520557,8.849496,20.215352,31.882166,18.473437,24.650015,26.158782,24.068035,...,15.479461,12.382790,12.802877,5.349422,15.677145,7.709386,5.196358,6.605633,13.387196,9.536595
VIMODRONE,9.219896,8.298894,8.216527,9.797111,13.697959,22.785941,18.601234,20.313376,23.593331,15.663192,...,14.555644,9.707396,9.576672,5.026584,11.770877,7.033608,4.997119,4.957035,13.446747,8.228670
VITTUONE,8.097543,7.250693,10.955603,8.875560,17.533664,34.962492,18.685867,20.903196,22.927683,20.160796,...,15.679184,11.495787,11.886414,5.742719,13.320963,7.028521,4.472379,5.125037,11.342162,8.434234
VIZZOLO PREDABISSI,8.521207,8.121785,9.315585,9.648636,14.270237,24.778153,19.633193,20.813898,24.812345,17.877697,...,15.639201,10.352049,9.835827,4.884216,13.165767,7.187809,4.946382,5.166140,12.334792,9.579029
ZIBIDO SAN GIACOMO,11.796861,10.361067,12.533048,11.779972,18.603460,29.264177,23.711027,23.802827,30.271260,20.152430,...,20.042974,13.124617,12.212184,7.161552,16.095659,8.814563,6.651366,6.122363,8.524563,10.929137

In [17]:
data_with_demo.drop(['SAN COLOMBANO AL LAMBRO'], axis=0, inplace=True)
data_with_demo.shape

(140, 212)

In [18]:
from scipy.stats import kstest

p_values = []

for i in range(len(data_with_demo)):
    p_values.append(kstest(data_with_demo.iloc[i,0:53], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,53:106], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,106:159], 'norm').pvalue)
    p_values.append(kstest(data_with_demo.iloc[i,159:212], 'norm').pvalue)
    
len(p_values)

560

In [19]:
print(sum(i > 0.05 for i in p_values)  / len(p_values))

0.0

In [20]:
from scipy.stats import kruskal

p_values_kruskal = []

for i in range(len(data_with_demo)):
    p_values_kruskal.append(kruskal(data_with_demo.iloc[i,0:53], data_with_demo.iloc[i,53:106], data_with_demo.iloc[i,106:159], data_with_demo.iloc[i,159:212]).pvalue)
    
len(p_values_kruskal)

140

In [21]:
print(sum(i > 0.05 for i in p_values_kruskal) / len(p_values_kruskal))   # High percentage!

1.0

In [22]:
data_with_demo

,w1 y2013,w2 y2013,w3 y2013,w4 y2013,w5 y2013,w6 y2013,w7 y2013,w8 y2013,w9 y2013,w10 y2013,...,w44 y2016,w45 y2016,w46 y2016,w47 y2016,w48 y2016,w49 y2016,w50 y2016,w51 y2016,w52 y2016,w53 y2016
area_associata,,,,,,,,,,,,,,,,,,,,,
ABBIATEGRASSO,8.956676,7.993297,11.400686,9.497613,17.707408,35.711531,20.081412,21.594791,24.343461,20.626570,...,16.741242,11.864663,12.143912,6.112331,13.710579,7.213860,4.554230,5.040694,10.521962,8.701749
ALBAIRATE,8.266162,7.481357,10.869026,8.999851,17.241343,35.977297,19.339558,20.871001,23.426554,20.089620,...,16.297627,11.678305,11.913777,5.963400,13.168225,6.947660,4.334288,4.817043,10.425759,8.380708
ARCONATE,12.541349,8.981403,17.874832,9.791442,24.419716,38.825003,22.065667,28.216454,29.317887,28.505047,...,16.202422,13.232294,13.807749,3.578908,17.408237,6.121634,3.205919,5.756595,14.327871,8.569090
ARESE,5.982234,5.825781,8.414747,8.780214,18.225921,27.852227,14.536514,13.253773,13.969104,10.711079,...,14.957225,10.146279,12.876631,6.744694,15.262566,9.246285,6.920584,7.112761,16.253606,9.767809
ARLUNO,8.513070,7.463494,11.493705,9.069799,18.104288,34.276831,18.779966,21.612212,23.459273,20.830708,...,15.611469,11.597666,12.049926,5.682380,13.810911,7.231612,4.679824,5.468051,11.882248,8.674819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VILLA CORTESE,9.704945,7.683077,13.520557,8.849496,20.215352,31.882166,18.473437,24.650015,26.158782,24.068035,...,15.479461,12.382790,12.802877,5.349422,15.677145,7.709386,5.196358,6.605633,13.387196,9.536595
VIMODRONE,9.219896,8.298894,8.216527,9.797111,13.697959,22.785941,18.601234,20.313376,23.593331,15.663192,...,14.555644,9.707396,9.576672,5.026584,11.770877,7.033608,4.997119,4.957035,13.446747,8.228670
VITTUONE,8.097543,7.250693,10.955603,8.875560,17.533664,34.962492,18.685867,20.903196,22.927683,20.160796,...,15.679184,11.495787,11.886414,5.742719,13.320963,7.028521,4.472379,5.125037,11.342162,8.434234
VIZZOLO PREDABISSI,8.521207,8.121785,9.315585,9.648636,14.270237,24.778153,19.633193,20.813898,24.812345,17.877697,...,15.639201,10.352049,9.835827,4.884216,13.165767,7.187809,4.946382,5.166140,12.334792,9.579029
ZIBIDO SAN GIACOMO,11.796861,10.361067,12.533048,11.779972,18.603460,29.264177,23.711027,23.802827,30.271260,20.152430,...,20.042974,13.124617,12.212184,7.161552,16.095659,8.814563,6.651366,6.122363,8.524563,10.929137

In [23]:
threshold = 120 * 0.5 * (4/7)

exceeding_2013 = []
exceeding_2014 = []
exceeding_2015 = []
exceeding_2016 = []
intensity_2013 = []
intensity_2014 = []
intensity_2015 = []
intensity_2016 = []

for i in range(len(data_with_demo)):
    temp = sum(data_with_demo.iloc[i,0:53] > threshold)
    exceeding_2013.append(temp)
    temp = sum(data_with_demo.iloc[i,53:106] > threshold)
    exceeding_2014.append(temp)
    temp = sum(data_with_demo.iloc[i,106:159] > threshold)
    exceeding_2015.append(temp)
    temp = sum(data_with_demo.iloc[i,159:212] > threshold)
    exceeding_2016.append(temp)
    
    if ((data_with_demo[data_with_demo > threshold].iloc[i,0:53]).isna().sum()) < 53:
        intensity_2013.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,0:53] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2013.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,53:106]).isna().sum()) < 53:
        intensity_2014.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,53:106] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2014.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,106:159]).isna().sum()) < 53:
        intensity_2015.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,106:159] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2015.append(0)
    if ((data_with_demo[data_with_demo > threshold].iloc[i,159:212]).isna().sum()) < 53:
        intensity_2016.append(np.quantile(((data_with_demo[data_with_demo > threshold].iloc[i,159:212] - threshold) / threshold).dropna(), 0.75))
    else:
        intensity_2016.append(0)

df_2013 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2013['Year'] = 2013
df_2013['frequency_O3'] = exceeding_2013
df_2013['exposure_O3'] = intensity_2013
df_2013['intensity_O3'] = df_2013['frequency_O3'] * df_2013['exposure_O3']

df_2014 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2014['Year'] = 2014
df_2014['frequency_O3'] = exceeding_2014
df_2014['exposure_O3'] = intensity_2014
df_2014['intensity_O3'] = df_2014['frequency_O3'] * df_2014['exposure_O3']

df_2015 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2015['Year'] = 2015
df_2015['frequency_O3'] = exceeding_2015
df_2015['exposure_O3'] = intensity_2015
df_2015['intensity_O3'] = df_2015['frequency_O3'] * df_2015['exposure_O3']

df_2016 = pd.DataFrame(data=data_with_demo.index, columns=['area_associata'])
df_2016['Year'] = 2016
df_2016['frequency_O3'] = exceeding_2016
df_2016['exposure_O3'] = intensity_2016
df_2016['intensity_O3'] = df_2016['frequency_O3'] * df_2016['exposure_O3']

final_dataset = pd.concat([df_2013, df_2014, df_2015, df_2016], ignore_index=True)

In [24]:
final_dataset = final_dataset.round(3)
final_dataset

         area_associata  Year  frequency_O3  exposure_O3  intensity_O3
0         ABBIATEGRASSO  2013            30        1.657        49.712
1             ALBAIRATE  2013            30        1.648        49.447
2              ARCONATE  2013            31        1.978        61.313
3                 ARESE  2013            28        1.610        45.073
4                ARLUNO  2013            29        1.754        50.880
..                  ...   ...           ...          ...           ...
555       VILLA CORTESE  2016            30        1.586        47.570
556           VIMODRONE  2016            30        1.447        43.411
557            VITTUONE  2016            30        1.523        45.676
558  VIZZOLO PREDABISSI  2016            30        1.492        44.753
559  ZIBIDO SAN GIACOMO  2016            31        1.663        51.538

[560 rows x 5 columns]

In [25]:
final_dataset.to_csv('Final_datasets_pollution/Final_dataset_O3.csv', index=False)